Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

added NOTES.txt in helm templates
  helm/templates/NOTES.txt
Due: none

Update values.yaml with dependency enabled
  helm/values.yaml
Due: none

added the dependencies : prometheus and loki-stack
  helm/Chart.yaml
Due: none

updated helm chart with dependecies, updated values.yaml and created namespace
  helm/Chart.lock
  helm/charts/loki-stack-2.10.2.tgz
  helm/charts/prometheus-27.7.1.tgz
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

Konflux: switch back to main (#1701)
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
  Dockerfile-args.downstream
  docs/Konflux.md
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Fix integration with build workflow, configure subcharts
  Makefile
  hack/helm-update.sh
  helm/Chart.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Helm doc update
  README.md
  RELEASE.md
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
Due: none

fix helm versions
  Makefile
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

backport (forward) konflux config
  .tekton/pipeline-bundle-ref.yaml
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

align renovate.json: run just every 3 months
  renovate.json
Due: none

Remove RELATED_IMAGE_CONSOLE_PLUGIN_COMPAT from env
  hack/helm-update.sh
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

[Helm/upstream] helm chart improvements (#1712)
  Makefile
  README.md
  RELEASE.md
  hack/helm-update.sh
  helm/Chart.lock
  helm/Chart.yaml
  helm/README.md
  helm/charts/loki-stack-2.10.2.tgz
  helm/charts/prometheus-27.7.1.tgz
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2286: automatic metric naming after resource name
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/fmstatus/flowmetrics_status.go
  internal/pkg/helper/helpers.go
  internal/pkg/helper/helpers_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Prepare release v1.9.1-community
  Makefile
  RELEASE.md
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  helm/Chart.yaml
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

update release info + readme
  README.md
  RELEASE.md
  config/samples/flows_v1beta2_flowcollector.yaml
  helm/README.md
Due: none

Renovate: decrease period for helm manager
  renovate.json
Due: none

NETOBSERV-2286: automatic metric naming after resource name (#1645)
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/fmstatus/flowmetrics_status.go
  internal/pkg/helper/helpers.go
  internal/pkg/helper/helpers_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Adding egress support to network policy
  internal/controller/constants/constants.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
Due: none

always create console plugin
  .mk/local.mk
  .mk/ocp.mk
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  helm/templates/deployment.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/constants/constants.go
  internal/controller/controllers.go
  internal/controller/flowcollector_controller_certificates_test.go
  internal/controller/flowcollector_controller_console_test.go
  internal/controller/flowcollector_controller_test.go
  internal/controller/flp/flp_test.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/client_helper.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/manager/config.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/manager/status/status_manager_test.go
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2268: Add a WARNINGS column in 'oc get flowcollectors'
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/predefined_charts.go
Due: none

Fix .ci-operator base image
  .ci-operator.yaml
Due: none

Fix .ci-operator base image (#1740)
  .ci-operator.yaml
Due: none

NETOBSERV-2333: switch to tc hook on ocp4.15
  internal/controller/ebpf/agent_controller.go
Due: none

update bundle versions
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

update bundle versions
  Dockerfile-args.downstream
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Fix tekton triggers
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
  .tekton/network-observability-operator-zstream-pull-request.yaml
  .tekton/network-observability-operator-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

dummy change
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix zstream service account
  .tekton/network-observability-operator-bundle-zstream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
  .tekton/network-observability-operator-zstream-pull-request.yaml
  .tekton/network-observability-operator-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Use faster way to get metrics cardinality
  internal/controller/constants/constants.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/dashboards/health.go
Due: none

Remove now unused 'replaces' csv field, and re-use BUILDVERSION when building downstream bundle
  Makefile
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  hack/patch_csv.py
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Use faster way to get metrics cardinality (#1739)
  internal/controller/constants/constants.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/dashboards/health.go
Due: none
