Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

Squashed commit of: 1830,1832,1833,1834
  hack/nudging/container_digest.sh
Due: none

Squashed commit of: 1828,1829,1831
  hack/nudging/container_digest.sh
Due: none

Adding egress support to network policy (#1731)
  internal/controller/constants/constants.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
Due: none

Set default value for network policy to true
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Adapt kafka deploy to latest strimzi
  .mk/development.mk
Due: none

NETOBSERV-2326: new alerting API in FlowCollector
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowmetrics/v1alpha1/flowmetric_webhook.go
  api/flowmetrics/v1alpha1/flowmetric_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/ebpf/bpfmanager-controller.go
  internal/controller/ebpf/internal/permissions/permissions.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/reconcilers/reconcilers.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/helper/loki/labels.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/metrics/predefined_alerts.go
  internal/pkg/metrics/predefined_alerts_test.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Alerts documentation
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/Alerts.md
  docs/Metrics.md
  internal/pkg/metrics/predefined_alerts_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add health annotation
  internal/pkg/metrics/predefined_alerts.go
Due: none

fix lint
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: none

doc cleaning
  docs/Alerts.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add information in health annotation, add sample
  config/samples/alerts/ingress-errors.yaml
  internal/pkg/metrics/predefined_alerts.go
  internal/pkg/metrics/predefined_alerts_test.go
Due: none

add metrics includelist sample
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

trivial: text update
  internal/pkg/metrics/predefined_alerts.go
Due: none

fix makefile
  .mk/development.mk
Due: none

Update OWNERS
  OWNERS
Due: none

update readme with account creation on cncf slack
  README.md
Due: none

Update OWNERS (#1869)
  OWNERS
  README.md
Due: none

[upstream] Fix deployment on older openshift / pf4
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Refactor parts of the alerting API:
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/metrics/predefined_alerts.go
  internal/pkg/metrics/predefined_alerts_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

[upstream] Fix deployment on older openshift / pf4 (#1876)
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Fix doc link to net obs operator installation
  config/descriptions/ocp.md
Due: none

Fix doc link to net obs operator installation (#1878)
  config/descriptions/ocp.md
Due: none

nolint cyclop
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

Removed env var ENABLE_FLOW_FILTER
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/config/config.go
Due: network-observability-operator-on-push

NETOBSERV-2348: validate prometheus names (#1780)
  api/flowmetrics/v1alpha1/flowmetric_types.go
  api/flowmetrics/v1alpha1/flowmetric_webhook.go
  api/flowmetrics/v1alpha1/flowmetric_webhook_test.go
  api/flowmetrics/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/pkg/metrics/predefined_metrics.go
Due: none

Triggering new bundle build
  bundle.Dockerfile.downstream
  hack/nudging/container_digest.sh
Due: none

Triggering new bundle build (#1895)
  bundle.Dockerfile.downstream
  hack/nudging/container_digest.sh
Due: none

Add yaml object used to release 1.9.2
  releases/1.9.2/fbc-4-12.yaml
  releases/1.9.2/fbc-4-14.yaml
  releases/1.9.2/fbc-4-15.yaml
  releases/1.9.2/fbc-4-16.yaml
  releases/1.9.2/fbc-4-17.yaml
  releases/1.9.2/fbc-4-18.yaml
  releases/1.9.2/fbc-4-19.yaml
  releases/1.9.2/fbc-4-20.yaml
  releases/1.9.2/netobserv.yaml
Due: none

Add yaml object used to release 1.9.2 (#1898)
  releases/1.9.2/fbc-4-12.yaml
  releases/1.9.2/fbc-4-14.yaml
  releases/1.9.2/fbc-4-15.yaml
  releases/1.9.2/fbc-4-16.yaml
  releases/1.9.2/fbc-4-17.yaml
  releases/1.9.2/fbc-4-18.yaml
  releases/1.9.2/fbc-4-19.yaml
  releases/1.9.2/fbc-4-20.yaml
  releases/1.9.2/netobserv.yaml
Due: none

Set default value for network policy to true
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Removed env var ENABLE_FLOW_FILTER (#1892)
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/config/config.go
Due: network-observability-operator-on-push
