Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)

skip SCC
  internal/pkg/cleanup/cleanup.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2562: simplify ALM example
  .mk/development.mk
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

NETOBSERV-2562: simplify ALM example (#2343)
  .mk/development.mk
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

NETOBSERV-2356: Ingress 5xx errors, ingress latency trend templates added and other fixes (#2351)
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

mode per variant (#2366)
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Adding lokistack status to console configmap
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: network-observability-operator-ystream-on-push

Update internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
Due: network-observability-operator-ystream-on-push

handle owners
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

handle owners (#2377)
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2578: doc: disable TLS upstream (#2359)
  README.md
  helm/README.md
  internal/controller/ebpf/agent_controller.go
  internal/controller/flp/flp_monolith_objects.go
Due: network-observability-operator-ystream-on-push

Use dynamic config reload for subnet labels
  go.mod
  go.sum
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/slices_api_test.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_ipfix.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/config/config.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/config/pipeline_builder.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

NETOBSERV-2500: hot-reload filters
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/config/pipeline_builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

bump flp
  go.mod
  go.sum
  internal/controller/ebpf/agent_controller_test.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_ipfix.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/config/config.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/config/pipeline_builder.go
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/config/config.go
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/maps/maps.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

fix prom api breaking changes
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/monitoring.go
Due: network-observability-operator-ystream-on-push

monitoring scheme and static plugin hotfixes
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_test.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/monitoring.go
Due: network-observability-operator-ystream-on-push

update golang x/tool
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/ast/inspector/cursor.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/typeutil/callee.go
  vendor/golang.org/x/tools/internal/event/core/export.go
  vendor/golang.org/x/tools/internal/event/label/label.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  vendor/golang.org/x/tools/internal/typesinternal/classify_call.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/versions/features.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

monitoring scheme and static plugin hotfixes (#2385)
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_test.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/monitoring.go
Due: network-observability-operator-ystream-on-push

bump operator-sdk
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

bump also controller-gen
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

regen bundle
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
Due: none

regen bundle
  bundle.Dockerfile
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: none

update golang x/tool (#2386)
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/ast/inspector/cursor.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/typeutil/callee.go
  vendor/golang.org/x/tools/internal/event/core/export.go
  vendor/golang.org/x/tools/internal/event/label/label.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  vendor/golang.org/x/tools/internal/typesinternal/classify_call.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/versions/features.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

bump operator-sdk (#2387)
  Makefile
  bundle.Dockerfile
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Make console plugin controller use health metadata for config, set some default rules as recording
  api/flowcollector/v1beta2/flowcollector_defaults.go
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/context.go
  internal/pkg/metrics/alerts/device_drops.go
  internal/pkg/metrics/alerts/dns_errors.go
  internal/pkg/metrics/alerts/dns_nxdomain.go
  internal/pkg/metrics/alerts/external_trend.go
  internal/pkg/metrics/alerts/ingress_errors.go
  internal/pkg/metrics/alerts/ingress_latency_trend.go
  internal/pkg/metrics/alerts/ipsec_errors.go
  internal/pkg/metrics/alerts/kernel_drops.go
  internal/pkg/metrics/alerts/latency_trend.go
  internal/pkg/metrics/alerts/netpol_denied.go
  internal/pkg/metrics/alerts/operational_alerts.go
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-ystream-on-push

Documentation update, health rules polishing
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/HealthRules.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Regenerate asciidoc
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flowcollectorslice-flows-netobserv-io-v1alpha1.adoc
  docs/flowmetric-flows-netobserv-io-v1alpha1.adoc
  docs/flows-format.adoc
  hack/asciidoc-gen.sh
  internal/pkg/helper/cardinality/cardinality.json
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix test
  internal/pkg/metrics/alerts/alerts_test.go
Due: network-observability-operator-ystream-on-push

Fixing status update
  internal/controller/flowcollector_controller.go
Due: network-observability-operator-ystream-on-push

disable on-push jobs
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

setup tekton for 1.11
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Update CSV desc with loki demo mode
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
Due: none

Fixing status update
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: network-observability-operator-ystream-on-push

expose openssl feature
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/ebpf/bpfmanager-controller.go
Due: network-observability-operator-ystream-on-push
