Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:{{revision}}
  - name: build-args-file
    value: Dockerfile-args.downstream
  ...

enlarge wait time for metrics
  integration-tests/backend/test_flowcollector.go
Due: none

add testcase
  integration-tests/backend/flowcollector.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/testdata/flowcollector_v1beta2_template.yaml
Due: none

rm none from random selection
  integration-tests/backend/test_flowcollector.go
Due: none

fix test
  integration-tests/backend/loki_storage.go
Due: none

rm unused var
  integration-tests/backend/test_flowcollector.go
Due: none

simplify the fix
  integration-tests/backend/loki_storage.go
  integration-tests/backend/testdata/logging/minIO/deploy.yaml
Due: none

Fix multi-tenancy tests
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/loki_client.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/test_flowcollectorslice.go
Due: none

Baremetal tests fix
  integration-tests/backend/loki_storage.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/util.go
Due: none

fmt
  integration-tests/backend/flowcollector.go
Due: none

adjust acording to memodi comments
  integration-tests/backend/test_flowcollector.go
Due: none

rm Low-89197 from Verify network flows are captured with Kafka
  integration-tests/backend/test_flowcollector.go
Due: none

rm OCP version check
  integration-tests/backend/test_flowcollector.go
Due: none

simplify the testcase
  integration-tests/backend/test_flowcollector.go
Due: none

Update Makefile and doc for upstream testing
  .mk/local.mk
  .mk/ocp.mk
  DEVELOPMENT.md
  Makefile
  README.md
  RELEASE.md
  config/samples/flowcollectors/flowcollector-for-kind.yaml
  hack/enable-metrics.sh
  hack/refresh-ovs.sh
  hack/self_signed_cert.yaml
  hack/wait_for_cert_manager.sh
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Add development title
  DEVELOPMENT.md
Due: none

CSV: set maintainers to RH support, maturity stable
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  hack/patch_csv.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

remove default value for deprecate Register field
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2767: remove Console config edition
  Makefile
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/rbac/role.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/clusterrole.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/flowcollector_controller_console_test.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/manager/manager.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Remove plugins from console on undeploy; allow redeploy
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

PacketTranslation fix
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/test_flowcollector.go
Due: none

Revert "PacketTranslation fix"
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/test_flowcollector.go
Due: none

Add static plugin to list of plugins in CSV
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
Due: none

Add finalizer logic to static plugin
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/reconcilers/reconcilers.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/client_helper.go
Due: network-observability-operator-ystream-on-push

review comment
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/test_flowcollector.go
Due: none

grep default metrics from fc deployment
  integration-tests/backend/test_flowcollector.go
Due: none

Switch approach: no finalizer, cluster scope owner instead
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/client_helper.go
Due: network-observability-operator-ystream-on-push

use fixed role name
  internal/controller/constants/constants.go
  internal/pkg/helper/client_helper.go
Due: network-observability-operator-ystream-on-push

fix tests
  internal/pkg/test/envtest.go
Due: network-observability-operator-ystream-on-push

bump go1.26
  .ci-operator.yaml
  .github/workflows/pull_request.yml
  .github/workflows/push_image.yml
  Dockerfile
  Makefile
  internal/pkg/helper/cardinality/cardinality.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

try with another prow builder image
  .ci-operator.yaml
Due: none

REVERT prow builder image
  .ci-operator.yaml
Due: none

update test
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/alerts/tls-security.yaml
  docs/FlowCollector.md
  docs/HealthRules.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/testdata/test-tls-client_template.yaml
  integration-tests/backend/testdata/test-tls-server_template.yaml
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/tls_insecure_version.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

review comment
  integration-tests/backend/backend_suite_test.go
  integration-tests/backend/test_flowcollector.go
Due: none

remove comments
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
Due: network-observability-operator-ystream-on-push

Fix several races seen at test teared down
  internal/controller/flowcollector_controller_console_test.go
  internal/controller/flowcollector_controller_test.go
  internal/controller/flp/suite_test.go
  internal/controller/monitoring/suite_test.go
  internal/controller/networkpolicy/suite_test.go
  internal/controller/static/static_controller.go
  internal/controller/suite_test.go
  internal/pkg/cleanup/cleanup_test.go
  internal/pkg/migrator/migrator.go
  internal/pkg/narrowcache/client.go
  internal/pkg/narrowcache/source.go
  internal/pkg/retry/retry.go
  internal/pkg/test/envtest.go
  internal/pkg/watchers/object_ref.go
  internal/pkg/watchers/watcher.go
Due: network-observability-operator-ystream-on-push

Prevent console plugin pod failure on loki misconfiguration
  .mk/development.mk
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_certificates_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/metrics_api_test.go
  internal/controller/lokistack/lokistack_watcher.go
  internal/pkg/helper/loki_config.go
  test-assets/loki.grafana.com_lokistacks.yaml
Due: network-observability-operator-ystream-on-push

NETOBSERV-2760: configure console k8s client token access
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
Due: network-observability-operator-ystream-on-push

Fix degraded message not rendered if plugin pod is ready
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/metrics_api_test.go
  internal/controller/lokistack/lokistack_watcher.go
  internal/controller/lokistack/lokistack_watcher_test.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/loki_config.go
  internal/pkg/manager/status/pod_health.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/manager/status/status_manager_test.go
  internal/pkg/manager/status/statuses.go
Due: network-observability-operator-ystream-on-push

Bind flowcollector-viewer role to console SA in standalone mode
  bundle/manifests/netobserv-flowcollector-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/kustomization.yaml
  helm/templates/netobserv-flowcollector-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/constants/constants.go
Due: network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)
