Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:{{revision}}
  - name: build-args-file
    value: Dockerfile-args.downstream
  ...

fix ok-to-test bundle
  .github/workflows/build_image_pr.yml
Due: none

regen bundles
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/transformed-csv.yaml
Due: none

fix linter warnings
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/groupversion_info.go
  api/flowcollectorslice/v1alpha1/flowcollectorslice_types.go
  api/flowcollectorslice/v1alpha1/groupversion_info.go
  api/flowmetrics/v1alpha1/flowmetric_types.go
  api/flowmetrics/v1alpha1/groupversion_info.go
Due: network-observability-operator-ystream-on-push

regen code
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowcollectorslice/v1alpha1/zz_generated.deepcopy.go
  api/flowmetrics/v1alpha1/zz_generated.deepcopy.go
Due: network-observability-operator-ystream-on-push

feat: FlowCollector S3 Parquet exporter and flowBuffer
  FAQ.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/validation_messages.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/netobserv-flp-peer-query_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-flp-peer-query_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/csv/bases/transformed-csv.yaml
  config/rbac/component_roles.yaml
  docs/Architecture.md
  docs/FlowCollector.md
  docs/NetworkPolicy.md
  docs/S3_Parquet.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/netobserv-flp-peer-query_rbac.authorization.k8s.io_v1_clusterrole.yaml
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/constants/constants.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/controller/flp/flp_s3.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/flp/metrics_api_test.go
  internal/controller/flp/slices_api_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

enable informers for all tests
  integration-tests/backend/testdata/flowcollector_v1beta2_template.yaml
Due: none

Fix STATIC_PLUGIN_INHERIT_TOLERATION_SUBSCRIPTION should not be set by default
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/openshift/common/manager-patch.yaml
Due: none

Do not fail on Console CR update failure
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
Due: network-observability-operator-ystream-on-push

Use patch instead of update
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/pkg/manager/manager.go
  internal/pkg/manager/roles.go
Due: network-observability-operator-ystream-on-push

Fix envtests
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/envtest/flowcollector_controller_console_envtest.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-ystream-on-push

use MergeFromWithOptimisticLock
  internal/controller/consoleplugin/consoleplugin_reconciler.go
Due: network-observability-operator-ystream-on-push

revert golangci-lint version compatible with 1.25
  integration-tests/backend/Makefile
Due: none

Fix Health Rules disappear when sampling increases due to lowVolumeThreshold (#2805)
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
Due: network-observability-operator-ystream-on-push

update go version
  integration-tests/backend/Makefile
  integration-tests/backend/go.mod
Due: none

update go version to 1.26
  integration-tests/backend/Dockerfile
Due: none

add a check for informers deployment to be ready
  integration-tests/backend/flowcollector.go
Due: none

fix direct mode and informers mode
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
Due: network-observability-operator-ystream-on-push

fix lint
  internal/controller/flp/flp_monolith_reconciler.go
Due: network-observability-operator-ystream-on-push

fix test suggestion
  internal/controller/flp/envtest/flp_controller_envtest.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2848: Split test files and switch to demoLoki
  integration-tests/backend/alerts.go
  integration-tests/backend/backend_suite_test.go
  integration-tests/backend/flowcollector.go
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/flowcollectorslice.go
  integration-tests/backend/go.mod
  integration-tests/backend/loki_client.go
  integration-tests/backend/operator.go
  integration-tests/backend/suite_vars.go
  integration-tests/backend/test_exporters.go
  integration-tests/backend/test_flow_multitenancy.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/test_flowcollector_kafka.go
  integration-tests/backend/test_flowcollector_virt.go
  integration-tests/backend/test_flowcollectorslice.go
  integration-tests/backend/test_flowmetrics.go
  integration-tests/backend/testdata/flowcollector_v1beta2_template.yaml
  integration-tests/backend/util.go
Due: none

NETOBSERV-2839: add nil-checks for OnHold mode
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/internal/permissions/permissions.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2875: fix direct mode and informers mode (#2861)
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2848: Split test files and switch to demoLoki (#2848)
  integration-tests/backend/alerts.go
  integration-tests/backend/backend_suite_test.go
  integration-tests/backend/flowcollector.go
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/flowcollectorslice.go
  integration-tests/backend/go.mod
  integration-tests/backend/loki_client.go
  integration-tests/backend/operator.go
  integration-tests/backend/suite_vars.go
  integration-tests/backend/test_exporters.go
  integration-tests/backend/test_flow_multitenancy.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/test_flowcollector_kafka.go
  integration-tests/backend/test_flowcollector_virt.go
  integration-tests/backend/test_flowcollectorslice.go
  integration-tests/backend/test_flowmetrics.go
  integration-tests/backend/testdata/flowcollector_v1beta2_template.yaml
  integration-tests/backend/util.go
Due: none

Remove openshift/origin dependency and migrate to K8s Go API clients
  integration-tests/backend/alerts.go
  integration-tests/backend/aws_sts.go
  integration-tests/backend/azure_utils.go
  integration-tests/backend/backend_suite_test.go
  integration-tests/backend/custom_metrics.go
  integration-tests/backend/flowcollector.go
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/flowcollectorslice.go
  integration-tests/backend/gcp_utils.go
  integration-tests/backend/go.mod
  integration-tests/backend/go.sum
  integration-tests/backend/ip_utils.go
  integration-tests/backend/k8s_client.go
  integration-tests/backend/kafka.go
  integration-tests/backend/loki.go
  integration-tests/backend/loki_client.go
  integration-tests/backend/loki_storage.go
  integration-tests/backend/metrics.go
  integration-tests/backend/multitenants.go
  integration-tests/backend/openstack_utils.go
  integration-tests/backend/operator.go
  integration-tests/backend/sctp.go
  integration-tests/backend/suite_vars.go
  integration-tests/backend/template_processor.go
  integration-tests/backend/test_exporters.go
  integration-tests/backend/test_flow_multitenancy.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/test_flowcollector_kafka.go
  integration-tests/backend/test_flowcollector_virt.go
  integration-tests/backend/test_flowcollectorslice.go
  integration-tests/backend/test_flowmetrics.go
  integration-tests/backend/test_helper.go
  integration-tests/backend/testdata/flowcollector_v1beta2_template.yaml
  integration-tests/backend/udn.go
  integration-tests/backend/util.go
  integration-tests/backend/version_checker.go
  integration-tests/backend/virtualization.go
Due: none

Add roleBindings
  integration-tests/backend/flowcollector.go
Due: none

NETOBSERV-2839: add nil-checks for OnHold mode (#2862)
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/internal/permissions/permissions.go
Due: network-observability-operator-ystream-on-push

Centralize os.Getenv calls for test config in suite_vars.go
  integration-tests/backend/backend_suite_test.go
  integration-tests/backend/k8s_client.go
  integration-tests/backend/suite_vars.go
  integration-tests/backend/test_flow_multitenancy.go
  integration-tests/backend/test_helper.go
Due: none

Fix alignment of env var declarations in suite_vars.go
  integration-tests/backend/suite_vars.go
Due: none

Fix gofmt alignment in test_flow_multitenancy.go var block
  integration-tests/backend/test_flow_multitenancy.go
Due: none

Set client rate limiter QPS and Burst to match origin framework defaults
  integration-tests/backend/k8s_client.go
Due: none

update golangcilint config
  integration-tests/backend/.golangci.yml
  integration-tests/backend/Makefile
Due: none

Fix e2e test failures from K8s API migration
  integration-tests/backend/k8s_client.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/util.go
Due: none

another typo; few fixes in agents.md
  AGENTS.md
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowmetrics.yaml
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowcollectors.yaml
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowmetrics.yaml
  config/openshift/olm/crd-doc-override/readme.md
Due: none

typo
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2664: CRD doc differenciation upstream/downstream
  Makefile
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/k8s/olm/cainjection_in_flowcollectors.yaml
  config/k8s/olm/cainjection_in_flowmetrics.yaml
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowcollectors.yaml
  config/openshift/olm/crd-doc-override/readme.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Review all CRD docs, split vanilla vs openshift
  .dockerignore
  AGENTS.md
  DEVELOPMENT.md
  FAQ.md
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/flows.netobserv.io_flowmetrics.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowmetrics.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  config/csv/bases/transformed-csv.yaml
  config/k8s/olm/description.md
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowcollectors.yaml
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowmetrics.yaml
  docs/Architecture.md
  docs/FlowCollector.md
  docs/FlowMetric.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix lint/tests
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

rollback default namespace change
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowcollectors.yaml
Due: none

NETOBSERV-2664: CRD doc differenciation upstream/downstream (#2846)
  .dockerignore
  AGENTS.md
  DEVELOPMENT.md
  FAQ.md
  Makefile
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/flows.netobserv.io_flowmetrics.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowmetrics.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  config/csv/bases/transformed-csv.yaml
  config/k8s/olm/cainjection_in_flowcollectors.yaml
  config/k8s/olm/cainjection_in_flowmetrics.yaml
  config/k8s/olm/description.md
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowcollectors.yaml
  config/openshift/olm/crd-doc-override/flows.netobserv.io_flowmetrics.yaml
  docs/Architecture.md
  docs/FlowCollector.md
  docs/FlowMetric.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Create secret-watcher RoleBindings during Kafka/LokiStack setup
  integration-tests/backend/flowcollector.go
  integration-tests/backend/test_flow_multitenancy.go
  integration-tests/backend/test_flowcollector_kafka.go
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)
