Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

Remobing sbom task which as been deprecated (#1183)
  .tekton/pipeline-fbc-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Temporary sipping fbc-fips-check-oci-ta
  .tekton/pipeline-fbc-ref.yaml
  hack/patch_csv.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Temporary sipping fbc-fips-check-oci-ta (#1194)
  .tekton/pipeline-fbc-ref.yaml
  hack/patch_csv.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Temporary skipping fbc-fips-check-oci-ta
  .tekton/pipeline-fbc-ref.yaml
  hack/patch_csv.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Temporary skipping fbc-fips-check-oci-ta (#1195)
  .tekton/pipeline-fbc-ref.yaml
  hack/patch_csv.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Update Konflux.md
  docs/Konflux.md
Due: none

Fix catalog config in wrong directory
  catalog.Dockerfile.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-push

Fix catalog config in wrong directory (#1201)
  catalog.Dockerfile.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-push

fix catalog related images
  catalog/rc.yaml
  hack/patch_catalog.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

fix catalog related images (#1202)
  catalog/rc.yaml
  hack/patch_catalog.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Regenerate catalog for legacy ocp - TO BE REVERTED after release
  Makefile
  catalog/index.yaml
  catalog/rc.yaml
  catalog/released/1.0.0.yaml
  catalog/released/1.1.1.yaml
  catalog/released/1.2.0.yaml
  catalog/released/1.3.0.yaml
  catalog/released/1.4.0.yaml
  catalog/released/1.4.1.yaml
  catalog/released/1.4.2.yaml
  catalog/released/1.5.0.yaml
  catalog/released/1.6.0.yaml
  catalog/released/1.6.1.yaml
  catalog/released/1.6.2.yaml
  catalog/released/1.7.0.yaml
  catalog/released_catalog.yaml
  hack/update_fbc.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Regenerate catalog for legacy ocp - TO BE REVERTED after release (#1198)
  Makefile
  catalog/index.yaml
  catalog/rc.yaml
  catalog/released/1.0.0.yaml
  catalog/released/1.1.1.yaml
  catalog/released/1.2.0.yaml
  catalog/released/1.3.0.yaml
  catalog/released/1.4.0.yaml
  catalog/released/1.4.1.yaml
  catalog/released/1.4.2.yaml
  catalog/released/1.5.0.yaml
  catalog/released/1.6.0.yaml
  catalog/released/1.6.1.yaml
  catalog/released/1.6.2.yaml
  catalog/released/1.7.0.yaml
  catalog/released_catalog.yaml
  hack/update_fbc.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Partial revert of 'Regenerate catalog for legacy ocp'
  catalog/index.yaml
  catalog/released/1.0.0.yaml
  catalog/released/1.1.1.yaml
  catalog/released/1.2.0.yaml
  catalog/released/1.3.0.yaml
  catalog/released/1.4.0.yaml
  catalog/released/1.4.1.yaml
  catalog/released/1.4.2.yaml
  catalog/released/1.5.0.yaml
  catalog/released/1.6.0.yaml
  catalog/released/1.6.1.yaml
  catalog/released/1.6.2.yaml
  catalog/released/1.7.0.yaml
  catalog/released_catalog.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

add past release objects
  releases/netobserv-1.8.0-fbc-4-12.yaml
  releases/netobserv-1.8.0-fbc-4-14.yaml
  releases/netobserv-1.8.0-fbc-4-15.yaml
  releases/netobserv-1.8.0-fbc-4-16.yaml
  releases/netobserv-1.8.0-fbc-4-17.yaml
  releases/netobserv-1.8.0-fbc-4-18.yaml
  releases/netobserv-1.8.0.yaml
Due: none

Update Konflux.md (#1199)
  docs/Konflux.md
Due: none

fix(CVP-4387): add fbc-target-index-pruning-check to FBC pipelines
  .tekton/pipeline-fbc-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

bump prometheus-common v0.59.1-netobserv
  go.mod
  go.sum
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/modules.txt
Due: none

restore fips check
  .tekton/pipeline-fbc-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Decoupling flp_monolith <=> flp_common <=> flp_transfo
  controllers/flowcollector_controller_certificates_test.go
  controllers/flp/flp_common_objects.go
  controllers/flp/flp_controller_test.go
  controllers/flp/flp_monolith_objects.go
  controllers/flp/flp_monolith_reconciler.go
  controllers/flp/flp_pipeline_builder_test.go
  controllers/flp/flp_test.go
  controllers/flp/flp_transfo_objects.go
  controllers/flp/flp_transfo_reconciler.go
  controllers/flp/metrics_api_test.go
  controllers/reconcilers/common.go
  controllers/reconcilers/namespaced_objects_manager.go
  pkg/resources/roles.go
Due: none

Add QE team approvers on nudging PRs
  .tekton/fbc-v-4-12-push.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/network-observability-operator-bundle-push.yaml
  .tekton/network-observability-operator-fbc-push.yaml
  .tekton/network-observability-operator-push.yaml
  hack/nudging/OWNERS
  hack/nudging/bundle_digest.sh
  hack/nudging/container_digest.sh
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

bump-1.9.0
  Dockerfile.downstream
Due: none

bundle & catalog
  bundle.Dockerfile.downstream
  catalog.Dockerfile.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-push

Add QE team approvers on nudging PRs (#1210)
  .tekton/fbc-v-4-12-push.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/network-observability-operator-bundle-push.yaml
  .tekton/network-observability-operator-fbc-push.yaml
  .tekton/network-observability-operator-push.yaml
  hack/nudging/OWNERS
  hack/nudging/bundle_digest.sh
  hack/nudging/container_digest.sh
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Helm generate and validation
  .github/workflows/pull_request.yml
  Makefile
  README.md
  docs/assets/operatorhub-flowcollector.png
  docs/assets/operatorhub-search.png
  hack/helm-update.sh
  helm/templates/certificate.yaml
  helm/templates/clusterrole.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/deployment.yaml
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  helm/templates/netobserv-manager-config_v1_configmap.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  helm/templates/netobserv-webhook-service_v1_service.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/roles.yaml
  helm/templates/serviceaccount.yaml
Due: none

Add ghaction to check helm
  .github/workflows/pull_request.yml
  helm/Chart.yaml
  helm/templates/certificate.yaml
  helm/templates/deployment.yaml
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  helm/templates/netobserv-manager-config_v1_configmap.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  helm/templates/netobserv-webhook-service_v1_service.yaml
  helm/templates/roles.yaml
  helm/values.yaml
Due: none

bump-1.9.0 (#1212)
  Dockerfile.downstream
  bundle.Dockerfile.downstream
  catalog.Dockerfile.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-push

Set up test console with HELM
  Makefile
  README.md
  hack/helm-update.sh
  helm/Chart.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

Add github action to check helm + update helm for 1.8.0-community (#1113)
  .github/workflows/pull_request.yml
  Makefile
  README.md
  docs/assets/operatorhub-flowcollector.png
  docs/assets/operatorhub-search.png
  hack/helm-update.sh
  helm/Chart.yaml
  helm/netobserv/templates/deployment.yaml
  helm/netobserv/templates/flows.netobserv.io_flowcollectors.yaml
  helm/netobserv/templates/flows.netobserv.io_flowmetrics.yaml
  helm/netobserv/templates/netobserv-manager-config_v1_configmap.yaml
  helm/netobserv/templates/netobserv-metrics-service_v1_service.yaml
  helm/netobserv/templates/netobserv-webhook-service_v1_service.yaml
  helm/netobserv/templates/roles.yaml
  helm/templates/certificate.yaml
  helm/templates/clusterrole.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/deployment.yaml
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  helm/templates/netobserv-manager-config_v1_configmap.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  helm/templates/netobserv-webhook-service_v1_service.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: none

Improve helm chart
  .mk/development.mk
  Makefile
  README.md
  config/kind/deployment-prometheus.yaml
  helm/Chart.yaml
  helm/LICENSE
  helm/README.md
Due: none

Fix typo
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  pkg/helper/flowcollector.go
Due: none

fix(CVP-4387): add fbc-target-index-pruning-check to FBC pipelines (#1208)
  .tekton/pipeline-fbc-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Improve helm chart (#1220)
  .mk/development.mk
  Makefile
  README.md
  config/kind/deployment-prometheus.yaml
  helm/Chart.yaml
  helm/LICENSE
  helm/README.md
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
