Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

Remove old netobserv-fbc
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
  .tekton/pipeline-fbc-ref.yaml
  Makefile
  catalog.Dockerfile.downstream
  hack/update_fbc.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Red Hat Konflux purge network-observability-operator-fbc-ystream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Remove old netobserv-fbc
  .tekton/pipeline-fbc-ref.yaml
  Makefile
  catalog.Dockerfile.downstream
  hack/update_fbc.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Remove fbc component
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
  .tekton/pipeline-fbc-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add ImageMirrorSet
  .tekton/images-mirror-set.yaml
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix sast pullspecs
  .tekton/pipeline-bundle-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

bump sast tasks
  .tekton/pipeline-bundle-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

test cel expression
  requirements.txt
Due: none

test cel expression
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

tekton: fix pathChanged
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Do not open flp pprof port by default
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/helper/crd.go
  pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Do not open flp pprof port by default (#1622)
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/helper/crd.go
  pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Regenerate API references (#1586)
  controllers/consoleplugin/config/static-frontend-config.yaml
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flowmetric-flows-netobserv-io-v1alpha1.adoc
  docs/flows-format.adoc
  hack/asciidoc-flows-gen.sh
  pkg/helper/cardinality/cardinality.json
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Optimization: avoid regex for metric filters when possible
  pkg/metrics/helper.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix test
  controllers/flp/metrics_api_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2285: opt: avoid regex for metric filters when possible (#1631)
  controllers/flp/metrics_api_test.go
  pkg/metrics/helper.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

add targeteable filters
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

add snyk config
  .snyk
Due: none

snyk: ignore requirements.txt
  .snyk
Due: none

fix(deps): update go modules
  go.mod
Due: network-observability-operator-on-push

keep only desired upgrades
  go.mod
  go.sum
  requirements.txt
  vendor/cel.dev/expr/.bazelversion
  vendor/cel.dev/expr/MODULE.bazel
  vendor/cel.dev/expr/cloudbuild.yaml
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/trace/events.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/golang.org/x/tools/go/ast/edge/edge.go
  vendor/golang.org/x/tools/go/ast/inspector/cursor.go
  vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  vendor/golang.org/x/tools/go/ast/inspector/walk.go
  vendor/google.golang.org/grpc/CONTRIBUTING.md
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/credentials/credentials.go
  vendor/google.golang.org/grpc/credentials/insecure/insecure.go
  vendor/google.golang.org/grpc/credentials/tls.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  vendor/google.golang.org/grpc/internal/credentials/credentials.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/event.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/status/status.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/stats/handlers.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push

migrate apply_tags tekton task
  .tekton/pipeline-bundle-ref.yaml
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

combine other nudging
  hack/nudging/container_digest.sh
Due: none

NETOBSERV-2286: automatic metric naming after resource name
  apis/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  controllers/flp/flp_pipeline_builder.go
  controllers/flp/flp_pipeline_builder_test.go
  controllers/flp/flp_test.go
  controllers/flp/fmstatus/flowmetrics_status.go
  docs/FlowMetric.md
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  pkg/helper/helpers.go
  pkg/helper/helpers_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2276: fix missing field for deserialization of plugin config
  controllers/consoleplugin/config/config.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2276: fix missing field for deserialization of plugin config (#1647)
  controllers/consoleplugin/config/config.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix tests
  internal/pkg/test/envtest.go
Due: none

fix builds
  Dockerfile.downstream
  bundle.Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update to operator-sdk v1.31.0
  .github/workflows/pull_request.yml
  Makefile
  bundle.Dockerfile
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2276: fix missing field for deserialization of plugin config (#1648)
  controllers/consoleplugin/config/config.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Reinject doc feedback
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flows-format.adoc
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request
