Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:{{revision}}
  - name: build-args-file
    value: Dockerfile-args.downstream
  ...

Documentation update, health rules polishing (#2389)
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  docs/FlowCollector.md
  docs/HealthRules.md
  docs/Metrics.md
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flowcollectorslice-flows-netobserv-io-v1alpha1.adoc
  docs/flowmetric-flows-netobserv-io-v1alpha1.adoc
  docs/flows-format.adoc
  hack/asciidoc-gen.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/helper/cardinality/cardinality.json
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Regenerate asciidoc
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flowcollectorslice-flows-netobserv-io-v1alpha1.adoc
  docs/flowmetric-flows-netobserv-io-v1alpha1.adoc
  docs/flows-format.adoc
  hack/asciidoc-gen.sh
  internal/pkg/helper/cardinality/cardinality.json
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Update CSV desc with loki demo mode
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
Due: none

fix test
  internal/pkg/metrics/alerts/alerts_test.go
Due: network-observability-operator-ystream-on-push

Documentation update, health rules polishing
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/HealthRules.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Make console plugin controller use health metadata for config, set some default rules as recording
  api/flowcollector/v1beta2/flowcollector_defaults.go
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/context.go
  internal/pkg/metrics/alerts/device_drops.go
  internal/pkg/metrics/alerts/dns_errors.go
  internal/pkg/metrics/alerts/dns_nxdomain.go
  internal/pkg/metrics/alerts/external_trend.go
  internal/pkg/metrics/alerts/ingress_errors.go
  internal/pkg/metrics/alerts/ingress_latency_trend.go
  internal/pkg/metrics/alerts/ipsec_errors.go
  internal/pkg/metrics/alerts/kernel_drops.go
  internal/pkg/metrics/alerts/latency_trend.go
  internal/pkg/metrics/alerts/netpol_denied.go
  internal/pkg/metrics/alerts/operational_alerts.go
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-ystream-on-push

Add kind label to metadata; rename owner->workload for user-exposed api
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/context.go
Due: network-observability-operator-ystream-on-push

fix todos
  api/flowcollector/v1beta2/flowcollector_defaults.go
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/ingress_http_latency_trend.go
  internal/pkg/metrics/alerts/latency_trend.go
Due: network-observability-operator-ystream-on-push

Move more rules as recording
  api/flowcollector/v1beta2/flowcollector_defaults.go
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts_test.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2402: Adding lokistack status to console plugin configmap (#2142)
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: network-observability-operator-ystream-on-push

Update internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
Due: network-observability-operator-ystream-on-push

Adding lokistack status to console configmap
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: network-observability-operator-ystream-on-push

Fixing status update
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: network-observability-operator-ystream-on-push

[release-1.11] NETOBSERV-2402: Adding lokistack status to console plugin configmap (#2403)
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: network-observability-operator-ystream-on-push

[release-1.11] Documentation update, health rules polishing (#2400)
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  docs/FlowCollector.md
  docs/HealthRules.md
  docs/Metrics.md
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flowcollectorslice-flows-netobserv-io-v1alpha1.adoc
  docs/flowmetric-flows-netobserv-io-v1alpha1.adoc
  docs/flows-format.adoc
  hack/asciidoc-gen.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/helper/cardinality/cardinality.json
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

metadata doc
  docs/HealthRules.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

add features on filters
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-ystream-on-push

Remove inactive operator maintainer
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  helm/Chart.yaml
Due: none

Add Feature field to FilterConfig struct
  internal/controller/consoleplugin/config/config.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2606: increase default cacheActiveTimeout to 15s
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller_ebpf_test.go
  internal/controller/flowcollector_controller_iso_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2596: Make console plugin controller use health metadata for config, set some default rules as recording (#2388)
  api/flowcollector/v1beta2/flowcollector_defaults.go
  docs/HealthRules.md
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/context.go
  internal/pkg/metrics/alerts/device_drops.go
  internal/pkg/metrics/alerts/dns_errors.go
  internal/pkg/metrics/alerts/dns_nxdomain.go
  internal/pkg/metrics/alerts/external_trend.go
  internal/pkg/metrics/alerts/ingress_errors.go
  internal/pkg/metrics/alerts/ingress_http_latency_trend.go
  internal/pkg/metrics/alerts/ipsec_errors.go
  internal/pkg/metrics/alerts/kernel_drops.go
  internal/pkg/metrics/alerts/latency_trend.go
  internal/pkg/metrics/alerts/netpol_denied.go
  internal/pkg/metrics/alerts/operational_alerts.go
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

[release-1.11] NETOBSERV-2596: Make console plugin controller use health metadata for config, set some default rules as recording (#2413)
  api/flowcollector/v1beta2/flowcollector_defaults.go
  docs/HealthRules.md
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/context.go
  internal/pkg/metrics/alerts/device_drops.go
  internal/pkg/metrics/alerts/dns_errors.go
  internal/pkg/metrics/alerts/dns_nxdomain.go
  internal/pkg/metrics/alerts/external_trend.go
  internal/pkg/metrics/alerts/ingress_errors.go
  internal/pkg/metrics/alerts/ingress_http_latency_trend.go
  internal/pkg/metrics/alerts/ipsec_errors.go
  internal/pkg/metrics/alerts/kernel_drops.go
  internal/pkg/metrics/alerts/latency_trend.go
  internal/pkg/metrics/alerts/netpol_denied.go
  internal/pkg/metrics/alerts/operational_alerts.go
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

network predefined metrics
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/dashboards/dashboard_test.go
  internal/pkg/helper/otel/otel-config.json
  internal/pkg/helper/otel/otel_config_test.go
  internal/pkg/metrics/predefined_metrics.go
  internal/pkg/metrics/predefined_metrics_test.go
  internal/pkg/test/util/utils.go
Due: network-observability-operator-ystream-on-push

fix defaults / optional enable fields
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

polish extra defaults and sample
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix test
  internal/controller/flowcollector_controller_iso_test.go
Due: network-observability-operator-ystream-on-push

keep namespace and deploymentModel for clarity
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

restore prometheus enable as default
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

NETOBSERV-2555 Filters observed even when features not enabled in flowcollector (#2410)
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-ystream-on-push

[release-1.11] NETOBSERV-2555 Filters observed even when features not enabled in flowcollector (#2424)
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-ystream-on-push

restore prometheus enable as default (#2423)
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

restore prometheus enable as default (#2431)
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)
