Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

NETOBSERV-2227: plugin feature "multiNetworks", and promote NetworkName columns (#1508)
  bundle/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/component_roles.yaml
  config/rbac/role.yaml
  controllers/consoleplugin/config/config.go
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  helm/templates/clusterrole.yaml
  pkg/helper/flowcollector.go
  pkg/manager/manager.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2101: remove CAP_SYS_RESOURCE, allow override (#1484)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/flowcollector_webhook.go
  apis/flowcollector/v1beta1/zz_generated.deepcopy.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/ebpf/agent_controller.go
  controllers/ebpf/internal/permissions/permissions.go
  controllers/flowcollector_controller_ebpf_test.go
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Manage console pf4 builds
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/constants/constants.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  controllers/flowcollector_controller.go
  controllers/flp/flp_controller.go
  controllers/flp/flp_monolith_objects.go
  controllers/flp/flp_test.go
  controllers/flp/flp_transfo_objects.go
  controllers/flp/metrics_api_test.go
  controllers/reconcilers/common.go
  docs/Konflux.md
  hack/nudging/container_digest.sh
  hack/patch_csv.py
  helm/templates/deployment.yaml
  main.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/manager/config.go
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Fix test
  controllers/consoleplugin/consoleplugin_objects.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Rename pf4 => compat
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/flowcollector_controller.go
  controllers/reconcilers/common.go
  docs/Konflux.md
  hack/nudging/container_digest.sh
  hack/patch_csv.py
  helm/templates/deployment.yaml
  main.go
  pkg/manager/config.go
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Manage console pf4 builds (#1519)
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/constants/constants.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  controllers/flowcollector_controller.go
  controllers/flp/flp_controller.go
  controllers/flp/flp_monolith_objects.go
  controllers/flp/flp_test.go
  controllers/flp/flp_transfo_objects.go
  controllers/flp/metrics_api_test.go
  controllers/reconcilers/common.go
  docs/Konflux.md
  hack/nudging/container_digest.sh
  hack/patch_csv.py
  helm/templates/deployment.yaml
  main.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/manager/config.go
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Adding ipsec related metrics
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/flowcollector_webhook_test.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Metrics.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard_test.go
  pkg/metrics/predefined_charts.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2222: single column ipsec status
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add hint on ipsec filter
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Fix kafka deploy dev script
  .mk/development.mk
Due: none

NETOBSERV-2257: identify interfaces by index and mac
  controllers/ebpf/agent_controller.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix missing line break in crd doc
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2222: single column ipsec status (#1556)
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2240: do not fail in case of error while discovering APIs (#1511)
  pkg/cluster/cluster.go
  pkg/manager/manager.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Allow overriding hardcoded env
  controllers/ebpf/agent_controller.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2257: identify interfaces by index and mac (#1565)
  controllers/ebpf/agent_controller.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update pkg/metrics/predefined_charts.go
  pkg/metrics/predefined_charts.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update pkg/dashboards/dashboard_test.go
  pkg/dashboards/dashboard_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Renaming ipsec metric
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Metrics.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2221 : Adding ipsec related metrics (#1543)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/flowcollector_webhook_test.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Metrics.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard_test.go
  pkg/metrics/predefined_charts.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2221: (follow-up) make default metrics, show % ipsec traffic
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/flp/flp_controller_flowmetrics_test.go
  controllers/flp/flp_pipeline_builder_test.go
  controllers/flp/metrics_api_test.go
  docs/Metrics.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard_test.go
  pkg/metrics/predefined_charts.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Regenerate API references
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flowmetric-flows-netobserv-io-v1alpha1.adoc
  docs/flows-format.adoc
  hack/asciidoc-flows-gen.sh
  pkg/helper/cardinality/cardinality.json
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

s/IPSec/IPsec/
  controllers/consoleplugin/config/static-frontend-config.yaml
  docs/flows-format.adoc
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

draft change
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update konflux dashboard link
  docs/Konflux.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update konflux dashboard link (#1590)
  docs/Konflux.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Prepare next version
  Dockerfile-args.downstream
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Rename metrics cross_nnode => node_to_node
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/flp/flp_pipeline_builder_test.go
  controllers/flp/metrics_api_test.go
  docs/Metrics.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/metrics/predefined_charts.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2221 follow-up: make default metrics, show % ipsec traffic (#1573)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/flp/flp_controller_flowmetrics_test.go
  controllers/flp/flp_pipeline_builder_test.go
  controllers/flp/metrics_api_test.go
  docs/Metrics.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard_test.go
  pkg/metrics/predefined_charts.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2221: follow-up: make default metrics, show % ipsec traffic [1.9 backport] (#1594)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/flp/flp_controller_flowmetrics_test.go
  controllers/flp/flp_pipeline_builder_test.go
  controllers/flp/metrics_api_test.go
  docs/Metrics.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/dashboards/dashboard_test.go
  pkg/metrics/predefined_charts.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add netobserv-1-8-1-fbc-4-19-0 release object
  releases/netobserv-1.8.1-fbc-4-19.yaml
Due: none

Trigger on release-1.9
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Freeze: disable on-push triggers
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
