Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:{{revision}}
  - name: build-args-file
    value: Dockerfile-args.downstream
  ...

Back to using pointers for desired/replicas
  internal/pkg/manager/status/status_manager.go
  internal/pkg/manager/status/status_manager_test.go
  internal/pkg/manager/status/statuses.go
Due: network-observability-operator-ystream-on-push

Fix missing status reset between reconciles, ...
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/demoloki/demoloki_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_console_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/suite_test.go
  internal/controller/lokistack/lokistack_watcher.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/monitoring/suite_test.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/static/static_controller.go
  internal/controller/suite_test.go
  internal/pkg/cleanup/cleanup_test.go
  internal/pkg/manager/status/envtest/flowcollector_controller_status_test.go
  internal/pkg/manager/status/envtest/suite_test.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-ystream-on-push

PacketTranslation fix
  integration-tests/backend/test_flowcollector.go
Due: none

linnt fixes
  integration-tests/backend/test_flowcollector.go
Due: none

Fix controllers when no prometheus CRD installed
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/envtest/common.go
  internal/controller/envtest/flowcollector_controller_certificates_envtest.go
  internal/controller/envtest/flowcollector_controller_console_envtest.go
  internal/controller/envtest/flowcollector_controller_ebpf_envtest.go
  internal/controller/envtest/flowcollector_controller_hold_envtest.go
  internal/controller/envtest/flowcollector_controller_iso_envtest.go
  internal/controller/envtest/flowcollector_controller_minimal_envtest.go
  internal/controller/envtest/garbage_collected_matcher.go
  internal/controller/envtest/openshift/suite_test.go
  internal/controller/envtest/vanilla/suite_test.go
  internal/controller/envtest/vanillafs/suite_test.go
  internal/controller/flowcollector_controller_test.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/envtest/flp_controller_flowmetrics_envtest.go
  internal/controller/flp/envtest/openshift/suite_test.go
  internal/controller/flp/envtest/vanilla/suite_test.go
  internal/controller/flp/envtest/vanillafs/suite_test.go
  internal/controller/flp/flp_test.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/controller/networkpolicy/envtest/np_controller_envtest.go
  internal/controller/networkpolicy/envtest/openshift/suite_test.go
  internal/controller/networkpolicy/envtest/vanilla/suite_test.go
  internal/controller/networkpolicy/envtest/vanillafs/suite_test.go
  internal/pkg/cleanup/cleanup_test.go
  internal/pkg/manager/status/envtest/suite_test.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-ystream-on-push

address feedback
  internal/controller/envtest/vanilla/suite_test.go
  internal/controller/flp/envtest/vanilla/suite_test.go
  internal/controller/networkpolicy/envtest/vanilla/suite_test.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-ystream-on-push

review comments
  internal/pkg/metrics/alerts/tls_insecure_version.go
Due: network-observability-operator-ystream-on-push

Update .ci-operator.yaml to golang 1.26 / openshift 5.0
  .ci-operator.yaml
Due: none

Add patch for STATIC_PLUGIN_INHERIT_TOLERATION_SUBSCRIPTION in olm builds
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/openshift-olm/default/kustomization.yaml
  config/openshift-olm/default/manager-patch.yaml
  config/rbac/role.yaml
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/static/static_controller.go
  internal/pkg/manager/config.go
  internal/pkg/manager/roles.go
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

use plain kustomize role/rb
  bundle/manifests/netobserv-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/operator_role_bindings.yaml
  config/rbac/operator_roles.yaml
  config/rbac/role.yaml
  helm/templates/role.yaml
  internal/pkg/manager/roles.go
Due: network-observability-operator-ystream-on-push

Fix panic, add integration test
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/envtest/flowcollector_controller_console_envtest.go
  internal/pkg/test/envtest.go
  test-assets/subscriptions.yaml
Due: network-observability-operator-ystream-on-push

Fix non-olm deployment case
  internal/controller/static/static_controller.go
Due: network-observability-operator-ystream-on-push

ok-to-test: Use sha when building artifact
  .github/workflows/build_image_pr.yml
  .github/workflows/push_image_pr.yml
Due: none

Add workflow security checks for "pwn request" vulnerabilities
  Makefile
  hack/check-workflow-security.sh
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

bump flp/agent deps
  go.mod
  go.sum
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/encode_s3.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/redacted.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

fix agent tests
  internal/controller/ebpf/agent_controller_test.go
Due: network-observability-operator-ystream-on-push

tmp regen fake bundle
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
Due: none

feature rename
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_port_conflicts_test.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

flp-informers deployment and wiring
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/rbac/component_roles.yaml
  config/rbac/role.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  docs/TLS.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/certificates.yaml
  helm/templates/clusterrole.yaml
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/manager/manager.go
  internal/pkg/manager/status/status_manager.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

feedback addressed
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_port_conflicts_test.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix: auto tls by default, renaming informers by centralizedInformers
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  docs/TLS.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/certificates.yaml
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix hardcoded port
  api/flowcollector/v1beta2/flowcollector_validation_port_conflicts_test.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
Due: network-observability-operator-ystream-on-push

fix port
  internal/controller/flp/envtest/flp_controller_envtest.go
Due: network-observability-operator-ystream-on-push

fix: add k8scache TLS certificate volume before extracting volumes
  internal/controller/flp/flp_common_objects.go
Due: network-observability-operator-ystream-on-push

fix: apply processor scheduling constraints to informers
  internal/controller/flp/flp_informer_builder.go
Due: network-observability-operator-ystream-on-push

test: fix certificate volume tests to allow k8scache volumes
  internal/controller/flp/envtest/flp_controller_envtest.go
Due: network-observability-operator-ystream-on-push

Fix agent env not overriding config
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/pkg/helper/env.go
  internal/pkg/helper/env_test.go
Due: network-observability-operator-ystream-on-push

add missed checks for added envs
  internal/controller/ebpf/agent_controller.go
Due: network-observability-operator-ystream-on-push

Enhance release workflow with SBOM and signing
  .github/workflows/release.yml
Due: none

prepare fake 0.0.0-crc0
  Makefile
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  helm/Chart.yaml
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

rabbit nitpick
  integration-tests/backend/Makefile
  integration-tests/backend/go.mod
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/version_checker.go
Due: none

address feedback
  .mk/development.mk
  Makefile
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/transformed-csv.yaml
  config/manager/manager.yaml
  internal/pkg/helper/monitoring.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix lint
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/pkg/helper/monitoring.go
Due: network-observability-operator-ystream-on-push

fix catalog build
  hack/update_fbc.sh
Due: none

fix bundle
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
Due: none

update bundle
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)
