Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)

Re-establish narrowcache watches on API timeout (#2881)
  AGENTS.md
  internal/pkg/narrowcache/client.go
  internal/pkg/narrowcache/client_test.go
  internal/pkg/narrowcache/config.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2890: reconcile ConsolePlugin upon change (#2874)
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/pkg/helper/comparators.go
Due: network-observability-operator-ystream-on-push

Remove cluster role bindings for secrets, ask for explicit bindings instead
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/k8s/manifests/netobserv-secret-creator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/k8s/manifests/netobserv-secret-watcher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-secret-creator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/openshift/manifests/netobserv-secret-watcher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/secret_role.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/clusterrole.yaml
  helm/templates/netobserv-secret-creator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-secret-watcher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  internal/pkg/manager/roles.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

typo + kustomize fix
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/k8s/olm/kustomization.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Named-scope permissions for SCC read/update
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  internal/controller/flowcollector_controller.go
  internal/pkg/manager/roles.go
Due: network-observability-operator-ystream-on-push

Provide guidance for granting secret roles in errors
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/pkg/watchers/watcher.go
  internal/pkg/watchers/watcher_test.go
Due: network-observability-operator-ystream-on-push

Fix conflicting volume k8scache
  internal/controller/flp/flp_common_objects.go
Due: network-observability-operator-ystream-on-push

slash commands for setup dev environment and debugging of the operator locally (#2128)
  .claude/commands/debug-operator.md
  .claude/commands/setup-dev-env.md
  .vscode/launch.json
Due: none

NETOBSERV-2835: Add RBAC RoleBindings for integration tests (#2863)
  integration-tests/backend/flowcollector.go
  integration-tests/backend/test_flow_multitenancy.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/test_flowcollector_kafka.go
  integration-tests/backend/util.go
Due: none

fix(flp): use provided service certs for k8scache when service TLS is Provided
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
Due: network-observability-operator-ystream-on-push

fix(flp): fix k8scache TLS for informer connectivity when service TLS is Provided
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_test.go
Due: network-observability-operator-ystream-on-push

fix(flp): address CodeRabbit review — nil CAFile fallback and docs
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_test.go
Due: network-observability-operator-ystream-on-push

refactor(flp): deploy dedicated k8scache service via informer reconciler
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
Due: network-observability-operator-ystream-on-push

fix(build): use gsed on macOS for sed -i compatibility
  Makefile
  hack/helm-update.sh
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix(build): replace all sed -r with -E and export SED for portability
  Makefile
  hack/helm-update.sh
  integration-tests/backend/test_flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

refactor(flp): remove unused transformer service field
  internal/controller/flp/flp_transfo_reconciler.go
Due: network-observability-operator-ystream-on-push

refactor(flp): reuse GetServiceServerTLSConfig/GetServiceClientTLSConfig for k8scache
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/pkg/helper/tls.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2945: surface permission missing error
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/internal/permissions/permissions.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/envtest/flp_controller_sar_envtest.go
  internal/controller/flp/envtest/openshift/suite_test.go
  internal/controller/flp/envtest/vanilla/suite_test.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/monitoring/monitoring_controller.go
  internal/pkg/resources/roles.go
  internal/pkg/roles/roles.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix glitch in OLM config
  config/k8s/olm/kustomization.yaml
Due: none

Reserve default namespace to prevent squatting
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/constants/constants.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/lokistack/lokistack_watcher.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/manager/config.go
  internal/pkg/manager/manager.go
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

README: document netobserv-flowcollector-viewer-role
  README.md
Due: none

NETOBSERV-2879: change default namespace in openshift override
  bundles/openshift/manifests/netobserv-hostnetwork_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundles/openshift/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundles/openshift/manifests/netobserv-loki-writer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-token-review_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  config/k8s/olm/kustomization.yaml
  config/openshift/common/kustomization.yaml
  config/openshift/common/manager-patch.yaml
  config/rbac/component_role_bindings.yaml
Due: none

NETOBSERV-2940: Fix k8scache auto-TLS when service TLS is Provided (#2888)
  Makefile
  hack/helm-update.sh
  integration-tests/backend/test_flowcollector.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/pkg/helper/tls.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Exposing DNS ports configuration through flowcollector API.
  Makefile
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/csv/bases/transformed-csv.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  hack/asciidoc-flows-gen.sh
  hack/crd2csvSpecDesc.sh
  hack/helm-update.sh
  hack/test-workflow.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  helm/templates/netobserv-webhook-service_v1_service.yaml
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/envtest/flowcollector_controller_iso_envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Refactor TryDelete pattern to propagate errors
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/reconcilers/namespaced_objects_manager.go
  internal/controller/reconcilers/reconcilers.go
Due: network-observability-operator-ystream-on-push

Ignore NotFound errors in TryDelete
  internal/controller/reconcilers/namespaced_objects_manager.go
Due: network-observability-operator-ystream-on-push

revert cyclo threshold change
  .golangci.yml
Due: none

add tests
  internal/controller/networkpolicy/envtest/np_controller_envtest.go
  internal/controller/networkpolicy/envtest/openshift/suite_test.go
  internal/controller/networkpolicy/envtest/vanilla/suite_test.go
  internal/controller/networkpolicy/envtest/vanillafs/suite_test.go
  internal/controller/static/operator_reconciler.go
  internal/controller/static/operator_reconciler_test.go
  internal/pkg/netpol/netpol.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2615: opreator network policy
  .golangci.yml
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/detect_subnets.go
  internal/controller/lokistack/lokistack_watcher_test.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/controller/reconcilers/namespaced_objects_manager.go
  internal/controller/static/operator_reconciler.go
  internal/controller/static/static_controller.go
  internal/pkg/cluster/apiserver_endpoint.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_mock.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/cluster/live_client.go
  internal/pkg/manager/config.go
  internal/pkg/manager/config_test.go
  internal/pkg/netpol/netpol.go
  internal/pkg/resources/roles.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

feedback: error on unparseable bool
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Special case when operator namespace == operands namespace
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  config/samples/flowcollectors/flowcollector-for-kind.yaml
  docs/FlowCollector.md
  docs/NetworkPolicy.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/NOTES.txt
  helm/templates/deployment.yaml
  helm/values.yaml
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/static/operator_reconciler.go
  internal/pkg/manager/manager.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Static controller now reconciles as usual ; add 8080 loki port
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/reconcilers/reconcilers.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/client_helper.go
  internal/pkg/netpol/netpol.go
  internal/pkg/watchers/watcher.go
Due: network-observability-operator-ystream-on-push

Fix incorrect _count suffix in DNS alert PromQL
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/dns_errors.go
  internal/pkg/metrics/alerts/dns_nxdomain.go
Due: network-observability-operator-ystream-on-push

Fix incorrect _count suffix in DNS alert PromQL (#2902)
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/dns_errors.go
  internal/pkg/metrics/alerts/dns_nxdomain.go
Due: network-observability-operator-ystream-on-push

fix dependabot config: actions, docker
  .github/dependabot.yml
Due: none

fix dependabot config for go exclusion
  .github/dependabot.yml
Due: none
