Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)

add test
  internal/controller/ebpf/agent_controller_test.go
Due: network-observability-operator-ystream-on-push

Doc: more vendor neutrality (#2459)
  README.md
  RELEASE.md
  helm/README.md
  helm/values.yaml
Due: none

Fix upstream builds (#2460)
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Fix NetworkEvents with upstream ovnk (#2461)
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
Due: network-observability-operator-ystream-on-push

Add release 1.11 objects
  releases/1.11.0/fbc.yaml
  releases/1.11.0/netobserv.yaml
Due: none

Prepare 1.11.1
  .tekton/network-observability-operator-bundle-zstream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
  .tekton/network-observability-operator-zstream-pull-request.yaml
  .tekton/network-observability-operator-zstream-push.yaml
  Dockerfile-args.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Prepare 1.12.0
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
  Dockerfile-args.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Fix breaking changes
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_webhook.go
  api/flowmetrics/v1alpha1/flowmetric_webhook.go
Due: network-observability-operator-ystream-on-push

update bundle
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowmetrics/v1alpha1/zz_generated.deepcopy.go
Due: network-observability-operator-ystream-on-push

Squashed commit of: 2464,2465,2466,2469,2470
  hack/nudging/container_digest.sh
Due: none

[Upstream] Use trust-manager for agent->flp TLS
  README.md
  RELEASE.md
  docs/TLS.md
  helm/Chart.yaml
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/certificate.yaml
  helm/templates/certificates.yaml
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

remove prometheus (alone) dependency
  helm/charts/prometheus-27.23.0.tgz
Due: none

Implement mTLS
  RELEASE.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/TLS.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/NOTES.txt
  helm/templates/certificates.yaml
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/monitoring.go
  internal/pkg/helper/tls.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Add ADOPTERS.md
  ADOPTERS.md
Due: none

Code cleanup / refactoring to minimize dependencies in api
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/networkpolicy/np_controller_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
Due: network-observability-operator-ystream-on-push

Fix issue with TLS Auto, where server cert was not created
  README.md
  RELEASE.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/TLS.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/helper/tls.go
  internal/pkg/helper/tls_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

network predefined metrics
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/dashboards/dashboard_test.go
  internal/pkg/helper/otel/otel-config.json
  internal/pkg/helper/otel/otel_config_test.go
  internal/pkg/metrics/predefined_metrics.go
  internal/pkg/metrics/predefined_metrics_test.go
  internal/pkg/test/util/utils.go
Due: network-observability-operator-ystream-on-push

Use existing workload family for network labels
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/predefined_metrics.go
  internal/pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-ystream-on-push

Code cleanup / refactoring to minimize dependencies in api (#2498)
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/networkpolicy/np_controller_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
Due: network-observability-operator-ystream-on-push

fix otel / test
  internal/pkg/helper/otel/otel-config.json
  internal/pkg/helper/otel/otel_config_test.go
Due: network-observability-operator-ystream-on-push

GH workflows: Remove trigger on pull_request_target
  .github/workflows/build_image_pr.yml
  .github/workflows/push_image_pr.yml
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

build catalog after operator/bundle are pushed
  .github/workflows/build_image_pr.yml
  .github/workflows/push_image_pr.yml
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

GH workflows: Remove trigger on pull_request_target (#2512)
  .github/workflows/build_image_pr.yml
  .github/workflows/push_image_pr.yml
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix catalog build
  .github/workflows/build_image_pr.yml
  .github/workflows/push_image_pr.yml
  Makefile
  hack/update_fbc.sh
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix catalog build (#2513)
  .github/workflows/build_image_pr.yml
  .github/workflows/push_image_pr.yml
  Makefile
  hack/update_fbc.sh
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

add tests
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/cluster/live_client.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

Improve Network Policy setup & doc
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/NetworkPolicy.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/live_client.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

hold flag implementation
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_hold_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/static/static_controller.go
  internal/controller/suite_test.go
  internal/pkg/cleanup/cleanup.go
  internal/pkg/cleanup/cleanup_test.go
  internal/pkg/manager/config.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/manager/status/status_manager_test.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Use FlowCollector OnHold instead of CSV
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_hold_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/controller/monitoring/monitoring_objects.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/static/static_controller.go
  internal/pkg/cleanup/cleanup.go
  internal/pkg/cleanup/cleanup_test.go
  internal/pkg/manager/config.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/manager/status/status_manager_test.go
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

skip SCC
  internal/pkg/cleanup/cleanup.go
Due: network-observability-operator-ystream-on-push

gh workflow, trim strings
  .github/workflows/push_image_pr.yml
Due: none

Improve Network Policy setup & doc (#2497)
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/NetworkPolicy.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/cluster/live_client.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

update fbc-4-16 release object
  releases/1.11.0/fbc.yaml
Due: none

NETOBSERV-2085: automatic enrichment with secondary interfaces
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_pipeline_builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

update PR template
  .github/pull_request_template.md
Due: none

Apply suggestion from @memodi
  .github/pull_request_template.md
Due: none
