Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)

Prepare release v1.10.1-community
  FAQ.md
  Makefile
  README.md
  RELEASE.md
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

release.md: use deploymentModel: Direct
  RELEASE.md
Due: none

loki dev mode
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/clusterrole.yaml
  helm/templates/deployment.yaml
  internal/controller/constants/constants.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_console_test.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/loki/config/config.go
  internal/controller/loki/config/local-config.yaml
  internal/controller/loki/loki_objects.go
  internal/controller/loki/loki_reconciler.go
  internal/controller/reconcilers/namespaced_objects_manager.go
  internal/pkg/helper/loki_config.go
  internal/pkg/manager/config.go
  internal/pkg/manager/manager.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

delete loki if owned
  internal/controller/loki/loki_reconciler.go
  internal/pkg/helper/client_helper.go
Due: network-observability-operator-ystream-on-push

validation webhook
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: network-observability-operator-ystream-on-push

fix pvc reconcile
  internal/controller/loki/loki_objects.go
  internal/controller/loki/loki_reconciler.go
  internal/pkg/helper/comparators.go
Due: network-observability-operator-ystream-on-push

renovate
  hack/patch_csv.py
  renovate.json
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

moving back to grafana image upstream
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  helm/templates/deployment.yaml
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

move loki image to netobserv quay
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  helm/templates/deployment.yaml
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2189 check LokiStack status (#2335)
  internal/pkg/manager/status/loki.go
  internal/pkg/manager/status/loki_test.go
  internal/pkg/manager/status/status_manager.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2365: Add the ability to create recording rules instead of alerts for the Network Health feature (#2112)
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_test.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Health Rules
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

Recording naming
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

runbook annotation support
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

Update security info
  README.md
Due: none

fix API discovery mechanism
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2360 Loki dev mode (#1801)
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  hack/patch_csv.py
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/clusterrole.yaml
  helm/templates/deployment.yaml
  internal/controller/constants/constants.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_console_test.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/loki/config/config.go
  internal/controller/loki/config/local-config.yaml
  internal/controller/loki/loki_objects.go
  internal/controller/loki/loki_reconciler.go
  internal/controller/reconcilers/namespaced_objects_manager.go
  internal/pkg/helper/client_helper.go
  internal/pkg/helper/comparators.go
  internal/pkg/helper/loki_config.go
  internal/pkg/manager/config.go
  internal/pkg/manager/manager.go
  main.go
  renovate.json
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

ingress errors template added and other fixes
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix linter
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: network-observability-operator-ystream-on-push

fix testing
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts_test.go
Due: network-observability-operator-ystream-on-push

feedback
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

recovery when API availability is delayed
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/cluster/refresher.go
Due: network-observability-operator-ystream-on-push

add ingress latency trend
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/config.go
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Prevent nil pointer / panic with InstallDemoLoki
  api/flowcollector/v1beta2/helper.go
  internal/pkg/helper/loki_config.go
Due: network-observability-operator-ystream-on-push

main to master
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

Prevent nil pointer / panic with InstallDemoLoki (#2352)
  api/flowcollector/v1beta2/helper.go
  internal/pkg/helper/loki_config.go
Due: network-observability-operator-ystream-on-push

fix test
  internal/controller/consoleplugin/config/static-frontend-config.yaml
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

renaming ingress error rule
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/templates.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

address feedback
  internal/pkg/cluster/cluster.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2578: doc: disable TLS upstream
  README.md
  helm/README.md
  internal/controller/ebpf/agent_controller.go
  internal/controller/flp/flp_monolith_objects.go
Due: network-observability-operator-ystream-on-push

hold flag implementation
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_hold_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/static/static_controller.go
  internal/controller/suite_test.go
  internal/pkg/cleanup/cleanup.go
  internal/pkg/cleanup/cleanup_test.go
  internal/pkg/manager/config.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/manager/status/status_manager_test.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Update Metrics.md
  docs/Metrics.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2553: Allow overriding ipfix enterpriseid (#2333)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_pipeline_builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2504: Add DNS name to metrics
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/pkg/metrics/predefined_charts.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Update internal/controller/consoleplugin/config/static-frontend-config.yaml
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-ystream-on-push

Apply suggestion from @jotak
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-ystream-on-push

NETOBSERV-2516: Links for runbooks in alerts (#2323)
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-ystream-on-push

mode per variant
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Apply suggestion from @jotak
  README.md
Due: none

NETOBSERV-2574 Reconcile race condition - API discovery (#2348)
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/cluster/refresher.go
Due: network-observability-operator-ystream-on-push
