Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

update
  internal/controller/networkpolicy/apiserver_endpoint.go
  internal/controller/networkpolicy/np_controller.go
  internal/pkg/cluster/cluster.go
Due: none

downstream owners for OpenShift CI (#2193)
  DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS_ALIASES
Due: none

health mode
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_types.go
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/recording.go
  internal/pkg/metrics/alerts/recording_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix errors
  internal/pkg/metrics/alerts/recording.go
Due: none

progressing
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/recording.go
  internal/pkg/metrics/alerts/recording_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

dockerignore
  .dockerignore
Due: none

fix test and bundle
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/builder_test.go
Due: none

fixes
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/recording.go
  internal/pkg/metrics/alerts/recording_test.go
Due: none

Update renovate frequency for helm lock
  renovate.json
Due: none

Update renovate frequency for helm lock (#2200)
  renovate.json
Due: none

NETOBSERV-2502: add missing labels
  Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2502: add missing labels (#2216)
  Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2502: add missing labels (#2217)
  Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2508: Network policy fix for HyperShift (#2157)
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  internal/controller/networkpolicy/apiserver_endpoint.go
  internal/controller/networkpolicy/apiserver_endpoint_test.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
  internal/pkg/manager/manager.go
Due: none

add configurable masquerade subnet
  internal/controller/flp/flp_controller.go
Due: none

NETOBSERV-2484: improve ovn subnets detection
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder_test.go
Due: none

Fetch kube apiserver IP, small refactoring (moving files)
  internal/controller/flp/flp_controller.go
  internal/controller/networkpolicy/apiserver_endpoint_test.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/cluster/apiserver_endpoint.go
  internal/pkg/helper/ip.go
  internal/pkg/helper/ip_test.go
Due: none

NETOBSERV-2485: DNS optimization, avoid searching for various suffixes
  README.md
  RELEASE.md
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  helm/README.md
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/loki_config.go
Due: none

Use Health/Alerts to help detect DNS optimizations
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix test
  internal/pkg/metrics/alerts/alerts_test.go
Due: none

Avoid configuring cidrs already covered for apiserver endpoint
  internal/controller/flp/flp_controller.go
Due: none

Add flowmetrics sample for workload flow matrix (#2113)
  config/samples/flowmetrics/workload-syn-in.yaml
  config/samples/flowmetrics/workload-syn-out.yaml
Due: none

Refactor detect subnets
  internal/controller/flp/detect_subnets.go
  internal/controller/flp/flp_controller.go
Due: none

Add role for reading networks
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  internal/pkg/manager/manager.go
Due: none

Use EXT:* pattern for external ips
  internal/controller/flp/detect_subnets.go
Due: none

release
  releases/1.10.1/fbc.yaml
  releases/1.10.1/netobserv.yaml
Due: none

release
  releases/1.10.1/netobserv.yaml
Due: none

slash commands for setup dev environment and debugging of the operator locally
  .claude/commands/debug-operator.md
  .claude/commands/setup-dev-env.md
  .vscode/launch.json
Due: none

NETOBSERV-2418: new FlowCollectorSlice API
  Makefile
  PROJECT
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowcollectorslice/v1alpha1/doc.go
  api/flowcollectorslice/v1alpha1/flowcollectorslice_types.go
  api/flowcollectorslice/v1alpha1/groupversion_info.go
  api/flowcollectorslice/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/crd/kustomization.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/openshift/patch.yaml
  config/rbac/role.yaml
  config/samples/flows_v1alpha1_flowcollectorslice.yaml
  config/samples/kustomization.yaml
  docs/Architecture.md
  docs/FlowCollector.md
  docs/FlowCollectorSlice.md
  hack/asciidoc-gen-config.yaml
  hack/asciidoc-gen.sh
  hack/helm-update.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  helm/templates/clusterrole.yaml
  internal/pkg/manager/manager.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add test, fix duplicated namespaces filters
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/slices.go
  internal/controller/flp/slices_api_test.go
Due: none

fix test
  internal/pkg/test/envtest.go
Due: none

Implement FlowCollectorSlice
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/flp/metrics_api_test.go
  internal/controller/flp/slices.go
Due: none

PR feedback: introduce FlowCollectorSlice status
  api/flowcollectorslice/v1alpha1/flowcollectorslice_types.go
  api/flowcollectorslice/v1alpha1/groupversion_info.go
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/samples/flows_v1alpha1_flowcollectorslice.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollectorSlice.md
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/slices.go
  internal/controller/flp/slices_api_test.go
  internal/controller/flp/slicesstatus/flowcollectorslices_status.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Include higher priority slices in overlap warning reports
  internal/controller/flp/slices.go
  internal/controller/flp/slices_api_test.go
  internal/controller/flp/slicesstatus/flowcollectorslices_status.go
Due: none

NETOBSERV-2484: improve ovn subnets detection (#2169)
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  internal/controller/flp/detect_subnets.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/controller/networkpolicy/apiserver_endpoint_test.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/cluster/apiserver_endpoint.go
  internal/pkg/helper/ip.go
  internal/pkg/helper/ip_test.go
  internal/pkg/manager/manager.go
Due: none

Back to a single Service mode
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/flowcollector_controller_minimal_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/networkpolicy/np_objects.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

bump FLP
  go.mod
  go.sum
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_network.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Update FBC snapshots
  releases/1.10.1/fbc.yaml
Due: none
