Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

set controller deployment as static objects owner
  controllers/constants/constants.go
  controllers/static/static_controller.go
  main.go
  pkg/helper/client_helper.go
Due: network-observability-operator-on-push

fix certs conflicts
  controllers/consoleplugin/consoleplugin_objects.go
Due: network-observability-operator-on-push

lint
  controllers/static/static_controller.go
  pkg/helper/client_helper.go
Due: network-observability-operator-on-push

Used bumped flp
  go.mod
  go.sum
  vendor/modules.txt
Due: network-observability-operator-on-push

NETOBSERV-2187: Replace filter API with a query expression language (#1434)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/zz_generated.conversion.go
  apis/flowcollector/v1beta1/zz_generated.deepcopy.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  apis/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/flp/flp_pipeline_builder.go
  controllers/flp/flp_pipeline_builder_test.go
  docs/FlowCollector.md
  go.mod
  go.sum
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/eval.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/expr.y
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/expr.y.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/lexer.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/utils/filters/filters.go
  vendor/modules.txt
Due: network-observability-operator-on-push

NETOBSERV-2178: improve warning messages in agent config/validation (#1466)
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: network-observability-operator-on-push

regen fbc
  catalog/unreleased/downstream-test-fbc/bundle.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Add OpenShift Optional category (#1436)
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  hack/patch_csv.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

NETOBSERV-2186: configure sampling field name in FLP
  controllers/flp/flp_pipeline_builder.go
  go.mod
  go.sum
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Refined sampling metrics
  apis/flowcollector/v1beta1/flowcollector_webhook_test.go
  apis/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  controllers/flp/flp_pipeline_builder.go
  controllers/flp/flp_test.go
  docs/FlowMetric.md
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  pkg/dashboards/health.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push

CRD doc: update feature statuses
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/ebpf/internal/permissions/permissions.go
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

NETOBSERV-2101: remove CAP_SYS_RESOURCE, allow override
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/flowcollector_webhook.go
  apis/flowcollector/v1beta1/zz_generated.deepcopy.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/ebpf/internal/permissions/permissions.go
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

update tests and remove ClusterRoleBinding for static plugin
  controllers/consoleplugin/consoleplugin_static_reconciler.go
  controllers/flowcollector_controller_certificates_test.go
  controllers/flowcollector_controller_console_test.go
  controllers/flowcollector_controller_test.go
  pkg/test/envtest.go
Due: network-observability-operator-on-push

updated workflow to update image version in helm chart
  .github/workflows/push_image.yml
Due: none

Fix caps in scc
  controllers/ebpf/agent_controller.go
  controllers/ebpf/internal/permissions/permissions.go
Due: network-observability-operator-on-push

fix test
  controllers/flowcollector_controller_ebpf_test.go
Due: network-observability-operator-on-push

added NOTES.txt in helm templates
  helm/templates/NOTES.txt
Due: none

lint
  pkg/test/envtest.go
Due: network-observability-operator-on-push

remove service account for static plugin
  controllers/consoleplugin/consoleplugin_objects.go
Due: network-observability-operator-on-push

CRD doc: update feature statuses (#1483)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/ebpf/internal/permissions/permissions.go
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

Konflux build pipeline service account migration for network-observability-operator-bundle-ystream Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Konflux build pipeline service account migration for network-observability-operator-bundle-zstream Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-bundle-zstream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Konflux build pipeline service account migration for network-observability-operator-fbc-ystream Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Konflux build pipeline service account migration for network-observability-operator-fbc-zstream Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-zstream-pull-request.yaml
  .tekton/network-observability-operator-fbc-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Konflux build pipeline service account migration for network-observability-operator-ystream Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Konflux build pipeline service account migration for network-observability-operator-zstream Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-zstream-pull-request.yaml
  .tekton/network-observability-operator-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

use merged flp
  go.mod
  go.sum
  vendor/modules.txt
Due: network-observability-operator-on-push

NETOBSERV-2186: configure sampling field name in FLP, refined sampling metrics (#1482)
  apis/flowcollector/v1beta1/flowcollector_webhook_test.go
  apis/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  controllers/flp/flp_pipeline_builder.go
  controllers/flp/flp_test.go
  docs/FlowMetric.md
  go.mod
  go.sum
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  pkg/dashboards/health.go
  pkg/metrics/predefined_metrics.go
  pkg/metrics/predefined_metrics_test.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Add operator to "Observability" category in OperatorHub (#1409)
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  catalog/released/bundles.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

helm readme: mention local deploy
  helm/README.md
Due: none

allow custom registry
  Makefile
Due: network-observability-operator-on-push

update dev commands
  .mk/development.mk
Due: none

NETOBSERV-2227: plugin feature "multiNetworks", and promote NetworkName columns
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  pkg/helper/flowcollector.go
Due: network-observability-operator-on-push

NETOBSERV-2240: do not fail in case of error while discovering APIs
  pkg/cluster/cluster.go
  pkg/manager/manager.go
Due: network-observability-operator-on-push

Fix issues related to pkt drop filters config
  controllers/consoleplugin/config/config.go
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push

Add udn read role for FLP
  bundle/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/component_roles.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  pkg/manager/manager.go
Due: network-observability-operator-on-push

typo
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

Allow custom registry (#1507)
  .mk/development.mk
  Makefile
Due: network-observability-operator-on-push

improve cache & reconcile events
  .mk/development.mk
  controllers/flowcollector_controller.go
  controllers/flp/flp_controller.go
  controllers/monitoring/monitoring_controller.go
  controllers/networkpolicy/np_controller.go
  controllers/reconcilers/reconcilers.go
  pkg/manager/manager.go
  pkg/narrowcache/client.go
  pkg/narrowcache/config.go
Due: network-observability-operator-on-push

Manage console pf4 builds
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/constants/constants.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  controllers/flowcollector_controller.go
  controllers/flp/flp_controller.go
  controllers/flp/flp_monolith_objects.go
  controllers/flp/flp_test.go
  controllers/flp/flp_transfo_objects.go
  controllers/flp/metrics_api_test.go
  controllers/reconcilers/common.go
  docs/Konflux.md
  hack/nudging/container_digest.sh
  hack/patch_csv.py
  helm/templates/deployment.yaml
  main.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/manager/config.go
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
