Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

doc cleaning
  docs/Alerts.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix lint
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: none

Add health annotation
  internal/pkg/metrics/predefined_alerts.go
Due: none

Add information in health annotation, add sample
  config/samples/alerts/ingress-errors.yaml
  internal/pkg/metrics/predefined_alerts.go
  internal/pkg/metrics/predefined_alerts_test.go
Due: none

add metrics includelist sample
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

Alerts documentation
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/Alerts.md
  docs/Metrics.md
  internal/pkg/metrics/predefined_alerts_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Refactor parts of the alerting API:
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/metrics/predefined_alerts.go
  internal/pkg/metrics/predefined_alerts_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

refactor validation webhook, fix CRD doc
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

nolint cyclop
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

Address feedback on new alerting API
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/predefined_alerts.go
  internal/pkg/metrics/predefined_alerts_test.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add required metrics for the default alerts
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  internal/controller/flp/flp_controller_flowmetrics_test.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/controller/flp/metrics_api_test.go
  internal/pkg/dashboards/dashboard_test.go
  internal/pkg/metrics/predefined_charts.go
  internal/pkg/metrics/predefined_metrics.go
  internal/pkg/metrics/predefined_metrics_test.go
Due: none

Update doc and sample
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/Alerts.md
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Rename alerts
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Rename alerts more meaningfuly
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Fix failing test
  Makefile
  api/flowmetrics/v1alpha1/flowmetric_webhook_test.go
  internal/pkg/metrics/alerts/alerts_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2327: add more alerts (wip)
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Split src/dest alerts
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: none

Fix netpol alert and manage open scale
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: none

Support for configure grpc client to send logs to Loki
  api/flowcollector/v1beta2/flowcollector_types.go
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/pkg/helper/loki_config.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_loki.go
Due: network-observability-operator-on-push

fix go mod dep
  go.mod
  go.sum
  internal/controller/flp/flp_pipeline_builder.go
  internal/pkg/helper/loki_config.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_loki.go
  vendor/modules.txt
Due: network-observability-operator-on-push

gencode done
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
Due: none

fix tests
  internal/controller/flowcollector_controller_iso_test.go
Due: none

Update bundle for gRPC Loki client support
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add GitHub workflows for automatic PR labeling
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none

fix csv
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
Due: none

Add manual needs-review labeling via comments
  .github/workflows/needs-review.yaml
Due: none

Fix workflow permissions for label management
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none

permission for the job
  .github/workflows/needs-review.yaml
Due: none

use pull_request_target
  .github/workflows/needs-review.yaml
Due: none

updates remove, make needs-review and needs-changes mutually exclusive
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none

add synchronize and reoped types
  .github/workflows/needs-review.yaml
Due: none

Fix ca issue in console when using grpc and lokistack mode
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
Due: none

Fix ca issue in console when using grpc and lokistack mode
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
Due: none

regenerate bundle
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Code cleanup
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/promql.go
  internal/pkg/metrics/alerts/promql_test.go
Due: none

Replace GitHub Actions scripts with gh CLI commands
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none

update permissions
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none

Fix git repository error by using GH_REPO instead of checkout
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none

updates for error
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none

Fix workflow execution issues and add debugging
  .github/workflows/needs-changes.yaml
  .github/workflows/needs-review.yaml
Due: none
