Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

Prepare 1.10.1
  .tekton/network-observability-operator-bundle-zstream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
  .tekton/network-observability-operator-zstream-pull-request.yaml
  .tekton/network-observability-operator-zstream-push.yaml
  Dockerfile-args.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Prepare 1.11.0
  Dockerfile-args.downstream
Due: none

re-enable tekton cel expression
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Remove uneeded pip deps (#2039)
  requirements.txt
Due: none

NETOBSERV-2471: TLS fields
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

slash commands for setup dev environment and debugging of the operator locally
  .claude/commands/debug-operator.md
  .claude/commands/setup-dev-env.md
  .vscode/launch.json
Due: none

fix
  .claude/commands/setup-dev-env.md
Due: none

fix
  .claude/commands/debug-operator.md
Due: none

Prepare release v1.10.0-community
  Makefile
  RELEASE.md
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  helm/Chart.yaml
  helm/values.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix readme for helm chart
  README.md
  helm/README.md
Due: none

TLS WIP
  config/samples/flowmetrics/tls_egress_traffic.yaml
  config/samples/flowmetrics/tls_ingress_traffic.yaml
  internal/pkg/helper/cardinality/cardinality.json
  internal/pkg/metrics/predefined_metrics.go
Due: none

Remove old leftovers from downstream catalog builds
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  Makefile
  catalog/parts/other.yaml
  catalog/released-legacy/bundles.yaml
  catalog/released-legacy/index.yaml
  catalog/released/bundles.yaml
  catalog/released/index.yaml
  catalog/released/other.yaml
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  catalog/unreleased/downstream-test-fbc/index.yaml
  hack/nudging/bundle_digest.sh
  hack/patch_catalog.py
  hack/refresh-redhat-catalog.sh
  hack/update-build.sh
  hack/update_fbc.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Remove old leftovers from downstream catalog builds (#2132)
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  Makefile
  catalog/parts/other.yaml
  catalog/released-legacy/bundles.yaml
  catalog/released-legacy/index.yaml
  catalog/released/bundles.yaml
  catalog/released/index.yaml
  catalog/released/other.yaml
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  catalog/unreleased/downstream-test-fbc/index.yaml
  hack/nudging/bundle_digest.sh
  hack/patch_catalog.py
  hack/refresh-redhat-catalog.sh
  hack/update-build.sh
  hack/update_fbc.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2441: fix netpol for upstream deployment (#2085)
  internal/controller/networkpolicy/np_objects.go
Due: none

NETOBSERV-2429: Deploy FLP as a service
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  docs/FlowCollector.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/controller/reconcilers/reconcilers.go
  internal/pkg/helper/comparators.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

mention flp replicas default being 3
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2438: enforce validation on subnet names
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flowmetrics/cluster_external_egress_traffic.yaml
  config/samples/flowmetrics/cluster_external_ingress_traffic.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: none

NETOBSERV-2429: Deploy FLP as a service (#1953)
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  docs/FlowCollector.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/controller/reconcilers/reconcilers.go
  internal/pkg/helper/comparators.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2450: use specific netpol for OpenShiftSDN
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/manager/manager.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2460: warn when using direct mode with more than 15 nodes
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  internal/pkg/cluster/cluster.go
Due: none

Update Konflux.md
  docs/Konflux.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Adding lokistack status to console configmap
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
Due: none

Adapt to 1.10: no Service deployment model
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

mention recommendation in CRD doc too
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

import eBPF map names from ebpf-agent/pkg/maps
  internal/controller/ebpf/agent_controller.go
Due: none

Refresh vendors
  go.sum
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/maps/maps.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Add unit test covering BPFMAN config
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
Due: none

NETOBSERV-2494: refresh cluster info periodically
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/static/static_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/refresher.go
  internal/pkg/manager/manager.go
Due: none

added tracked kinds to flp
  go.mod
  go.sum
  internal/controller/flp/flp_pipeline_builder.go
  vendor/modules.txt
Due: network-observability-operator-on-push

fix deps
  go.mod
  go.sum
  vendor/modules.txt
Due: network-observability-operator-on-push

fix deps
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_network.go
Due: network-observability-operator-on-push

NETOBSERV-2495: Generate subnet config from netpol IPBlock
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_test.go
Due: none

NETOBSERV-2450: NETOBSERV-2460: webhook validation for sdn and direct mode (#2145)
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/manager/manager.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2450: NETOBSERV-2460: webhook validation for sdn and direct mode [backport 1.10] (#2146)
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
  internal/pkg/manager/manager.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix permissions
  bundle/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/component_roles.yaml
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
Due: none

Network policy fix for HyperShift
  internal/controller/networkpolicy/np_objects.go
Due: none
