Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)

Red Hat Konflux update network-observability-operator-bundle-ystream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Red Hat Konflux update network-observability-operator-fbc-ystream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

use OCP4.19 version check for networkEvents/UDN/ebpfMgr
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: network-observability-operator-on-push

Use new ystream/zstream konflux apps
  .tekton/network-observability-operator-1-8-pull-request.yaml
  .tekton/network-observability-operator-1-8-push.yaml
  .tekton/network-observability-operator-bundle-1-8-pull-request.yaml
  .tekton/network-observability-operator-bundle-1-8-push.yaml
  .tekton/network-observability-operator-bundle-pull-request.yaml
  .tekton/network-observability-operator-bundle-push.yaml
  .tekton/network-observability-operator-fbc-1-8-pull-request.yaml
  .tekton/network-observability-operator-fbc-1-8-push.yaml
  .tekton/network-observability-operator-fbc-pull-request.yaml
  .tekton/network-observability-operator-fbc-push.yaml
  .tekton/network-observability-operator-pull-request.yaml
  .tekton/network-observability-operator-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Use new ystream/zstream konflux apps
  .tekton/network-observability-operator-bundle-pull-request.yaml
  .tekton/network-observability-operator-bundle-push.yaml
  .tekton/network-observability-operator-fbc-pull-request.yaml
  .tekton/network-observability-operator-fbc-push.yaml
  .tekton/network-observability-operator-pull-request.yaml
  .tekton/network-observability-operator-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Red Hat Konflux purge network-observability-operator-fbc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-pull-request.yaml
  .tekton/network-observability-operator-fbc-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Red Hat Konflux purge network-observability-operator-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-bundle-pull-request.yaml
  .tekton/network-observability-operator-bundle-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Red Hat Konflux purge network-observability-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-pull-request.yaml
  .tekton/network-observability-operator-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Red Hat Konflux purge network-observability-operator-fbc-1-8 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-1-8-pull-request.yaml
  .tekton/network-observability-operator-fbc-1-8-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Red Hat Konflux purge network-observability-operator-bundle-1-8 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-bundle-1-8-pull-request.yaml
  .tekton/network-observability-operator-bundle-1-8-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Red Hat Konflux purge network-observability-operator-1-8 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-1-8-pull-request.yaml
  .tekton/network-observability-operator-1-8-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

nit: Add artifacthub badge and annotations (#1287)
  README.md
  helm/Chart.yaml
  helm/README.md
Due: none

Remove fbc pipelines
  .tekton/fbc-v-4-12-pull-request.yaml
  .tekton/fbc-v-4-12-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/images-mirror-set.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Rename tekton files
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-bundle-zstream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
  .tekton/network-observability-operator-fbc-zstream-pull-request.yaml
  .tekton/network-observability-operator-fbc-zstream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
  .tekton/network-observability-operator-zstream-pull-request.yaml
  .tekton/network-observability-operator-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Rename tekton files
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Fix quay image name
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Fix quay image name
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-bundle-zstream-pull-request.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
  .tekton/network-observability-operator-fbc-ystream-pull-request.yaml
  .tekton/network-observability-operator-fbc-ystream-push.yaml
  .tekton/network-observability-operator-fbc-zstream-pull-request.yaml
  .tekton/network-observability-operator-fbc-zstream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
  .tekton/network-observability-operator-zstream-pull-request.yaml
  .tekton/network-observability-operator-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

konflux on-pr: fix typo
  .tekton/network-observability-operator-ystream-pull-request.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Bump prometheus and remove custom patch
  controllers/consoleplugin/consoleplugin_test.go
  go.mod
  go.sum
  vendor/github.com/prometheus/common/config/headers.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/alert.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/labelset_string.go
  vendor/github.com/prometheus/common/model/labelset_string_go120.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/silence.go
  vendor/github.com/prometheus/common/model/value_float.go
  vendor/github.com/prometheus/common/model/value_histogram.go
  vendor/github.com/prometheus/common/version/info.go
  vendor/modules.txt
Due: network-observability-operator-on-push

IPsec support
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/helper/flowcollector.go
Due: network-observability-operator-on-push

Remove fbc pipelines (#1310)
  .tekton/fbc-v-4-12-pull-request.yaml
  .tekton/fbc-v-4-12-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/images-mirror-set.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Fix semver with 0.0.0-<sha>
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  hack/test-workflow.sh
Due: none

NETOBSERV-1418: make namespace immutable
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/consoleplugin/consoleplugin_reconciler.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/internal/permissions/permissions.go
  controllers/flowcollector_controller.go
  controllers/flowcollector_controller_console_test.go
  controllers/flowcollector_controller_ebpf_test.go
  controllers/flp/flp_controller.go
  controllers/flp/flp_controller_flowmetrics_test.go
  controllers/flp/flp_controller_test.go
  controllers/flp/flp_monolith_reconciler.go
  controllers/flp/flp_transfo_reconciler.go
  controllers/reconcilers/common.go
  controllers/reconcilers/namespaced_objects_manager.go
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

remove unused functions
  controllers/ebpf/bpfmanager-controller.go
Due: network-observability-operator-on-push

Rename "sampling rate" => "sampling ratio"
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

update README
  README.md
Due: none

NETOBSERV-1418: make namespace immutable (#1229)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  controllers/consoleplugin/consoleplugin_reconciler.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  controllers/ebpf/internal/permissions/permissions.go
  controllers/flowcollector_controller.go
  controllers/flowcollector_controller_console_test.go
  controllers/flowcollector_controller_ebpf_test.go
  controllers/flp/flp_controller.go
  controllers/flp/flp_controller_flowmetrics_test.go
  controllers/flp/flp_controller_test.go
  controllers/flp/flp_monolith_reconciler.go
  controllers/flp/flp_transfo_reconciler.go
  controllers/reconcilers/common.go
  controllers/reconcilers/namespaced_objects_manager.go
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

Fix semver with 0.0.0-<sha> (#1341)
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  hack/test-workflow.sh
Due: none

dev
  controllers/consoleplugin/consoleplugin_reconciler.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/flowcollector_controller.go
  controllers/flp/flp_test.go
  controllers/monitoring/monitoring_controller.go
  controllers/reconcilers/reconcilers.go
  pkg/helper/client_helper.go
  pkg/helper/comparators.go
  pkg/helper/flowcollector.go
Due: network-observability-operator-on-push

fix errors
  controllers/reconcilers/reconcilers.go
  pkg/helper/client_helper.go
  pkg/helper/comparators.go
Due: network-observability-operator-on-push

fix lint
  controllers/flowcollector_controller.go
Due: network-observability-operator-on-push

Create static console plugin in OLM bundle
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  bundle/manifests/netobserv-static-console-plugin_v1_service.yaml
  config/openshift-olm/default/kustomization.yaml
  config/static-console-plugin/kustomization.yaml
  config/static-console-plugin/static_console_plugin.yaml
  config/static-console-plugin/static_console_plugin_deployment.yaml
  config/static-console-plugin/static_console_plugin_service.yaml
Due: none

with ebpf mgr pkt drop doesn't need to use privilge
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  controllers/ebpf/agent_controller.go
  pkg/helper/flowcollector.go
Due: network-observability-operator-on-push

NETOBSERV-2198: IPsec support (#1085)
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/ebpf/agent_controller.go
  controllers/ebpf/bpfmanager-controller.go
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  pkg/helper/flowcollector.go
Due: network-observability-operator-on-push

Update Konflux.md IMDS
  docs/Konflux.md
Due: network-observability-operator-on-push

Fix vendoring
  go.mod
  go.sum
  vendor/k8s.io/klog/.travis.yml
  vendor/k8s.io/klog/CONTRIBUTING.md
  vendor/k8s.io/klog/LICENSE
  vendor/k8s.io/klog/OWNERS
  vendor/k8s.io/klog/README.md
  vendor/k8s.io/klog/RELEASE.md
  vendor/k8s.io/klog/SECURITY_CONTACTS
  vendor/k8s.io/klog/code-of-conduct.md
  vendor/k8s.io/klog/klog.go
  vendor/k8s.io/klog/klog_file.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Bump prometheus and remove custom patch (#1311)
  controllers/consoleplugin/consoleplugin_test.go
  go.mod
  go.sum
  vendor/github.com/prometheus/common/config/headers.go
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/alert.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/labelset_string.go
  vendor/github.com/prometheus/common/model/labelset_string_go120.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/silence.go
  vendor/github.com/prometheus/common/model/value_float.go
  vendor/github.com/prometheus/common/model/value_histogram.go
  vendor/github.com/prometheus/common/version/info.go
  vendor/modules.txt
Due: network-observability-operator-on-push
