Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:{{revision}}
  - name: build-args-file
    value: Dockerfile-args.downstream
  ...

fix coderabbit config for vendor exclusion
  .coderabbit.yaml
Due: none

Actions: cancel in progress
  .github/workflows/push_image.yml
Due: none

fix: Add AdminNetworkPolicy resource mappings for test cleanup
  integration-tests/backend/k8s_client.go
  integration-tests/backend/test_flowcollector.go
Due: none

NETOBSERV-2913: Refactor TryDelete pattern to propagate errors (#2893)
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/reconcilers/namespaced_objects_manager.go
  internal/controller/reconcilers/reconcilers.go
Due: network-observability-operator-ystream-on-push

Fix unchecked TryDelete error returns in netpol reconcilers
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/static/operator_reconciler.go
Due: network-observability-operator-ystream-on-push

Fix unchecked TryDelete error returns in netpol reconcilers (#2913)
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/static/operator_reconciler.go
Due: network-observability-operator-ystream-on-push

Add retry logic to S3 bucket deletion in CI integration tests
  integration-tests/backend/loki_storage.go
Due: none

Fix GCS bucket cleanup leaks in CI integration tests
  integration-tests/backend/gcp_utils.go
  integration-tests/backend/loki_storage.go
  integration-tests/backend/test_flow_multitenancy.go
Due: none

Refactor multitenancy test cleanup to use incremental DeferCleanup
  integration-tests/backend/test_flow_multitenancy.go
Due: none

Fix Azure blob container cleanup leaks in CI integration tests
  integration-tests/backend/azure_utils.go
Due: none

feat: make static plugin resource requests and limits configurable via env vars
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/pkg/manager/config.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix: add resource requests to static plugin reconciler
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
Due: network-observability-operator-ystream-on-push

fix: use ParseQuantity to avoid panic on invalid env var values
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
Due: network-observability-operator-ystream-on-push

Agents: reminder for commit trailer
  AGENTS.md
Due: none

Apply suggestion from @jotak
  AGENTS.md
Due: none

NETOBSERV-2949 Fix/gcs bucket cleanup leak (#2912)
  integration-tests/backend/azure_utils.go
  integration-tests/backend/gcp_utils.go
  integration-tests/backend/loki_storage.go
  integration-tests/backend/test_flow_multitenancy.go
Due: none

Secure push job wrt branch interpolation
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  .github/workflows/release.yml
Due: none

NETOBSERV-2877: setup required annotations for openshift pods
  .golangci.yml
  Makefile
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/openshift/common/manager-patch.yaml
  internal/controller/consoleplugin/consoleplugin_convergence_test.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/internal/permissions/permissions.go
  internal/controller/envtest/flowcollector_controller_certificates_envtest.go
  internal/controller/envtest/flowcollector_controller_console_envtest.go
  internal/controller/envtest/flowcollector_controller_ebpf_envtest.go
  internal/controller/envtest/openshift/suite_test.go
  internal/controller/envtest/vanilla/suite_test.go
  internal/controller/envtest/vanillafs/suite_test.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/envtest/openshift/suite_test.go
  internal/controller/flp/envtest/vanilla/suite_test.go
  internal/controller/flp/envtest/vanillafs/suite_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/monitoring/suite_test.go
  internal/controller/networkpolicy/envtest/openshift/suite_test.go
  internal/controller/networkpolicy/envtest/vanilla/suite_test.go
  internal/controller/networkpolicy/envtest/vanillafs/suite_test.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/comparators.go
  internal/pkg/manager/status/envtest/suite_test.go
  internal/pkg/narrowcache/client.go
  internal/pkg/narrowcache/client_test.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix lint and test
  internal/controller/envtest/flowcollector_controller_console_envtest.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-ystream-on-push

Add BGP ASN enrichment support via FRRConfiguration CRDs
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/component_roles.yaml
  config/rbac/role.yaml
  docs/FlowCollector.md
  go.mod
  go.sum
  internal/controller/consoleplugin/config/static-frontend-config.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/pkg/manager/roles.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_network.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Update helm templates for BGP ASN enrichment
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-ystream-on-push

Update bundle manifests for BGP ASN enrichment
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/transformed-csv.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/clusterrole.yaml
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
Due: none

temporary mod
  go.mod
  go.sum
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-push

address rabbit feedback
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  internal/pkg/manager/roles.go
Due: network-observability-operator-ystream-on-push

Agents: reminder for commit trailer (#2914)
  AGENTS.md
Due: none

NETOBSERV-2877: setup required annotations for openshift pods (#2878)
  .golangci.yml
  Makefile
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/openshift/common/manager-patch.yaml
  internal/controller/consoleplugin/consoleplugin_convergence_test.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/internal/permissions/permissions.go
  internal/controller/envtest/flowcollector_controller_certificates_envtest.go
  internal/controller/envtest/flowcollector_controller_console_envtest.go
  internal/controller/envtest/flowcollector_controller_ebpf_envtest.go
  internal/controller/envtest/openshift/suite_test.go
  internal/controller/envtest/vanilla/suite_test.go
  internal/controller/envtest/vanillafs/suite_test.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/envtest/openshift/suite_test.go
  internal/controller/flp/envtest/vanilla/suite_test.go
  internal/controller/flp/envtest/vanillafs/suite_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_informer_builder.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/monitoring/suite_test.go
  internal/controller/networkpolicy/envtest/openshift/suite_test.go
  internal/controller/networkpolicy/envtest/vanilla/suite_test.go
  internal/controller/networkpolicy/envtest/vanillafs/suite_test.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/comparators.go
  internal/pkg/manager/status/envtest/suite_test.go
  internal/pkg/narrowcache/client.go
  internal/pkg/narrowcache/client_test.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2945: surface permission missing error
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/internal/permissions/permissions.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/envtest/flp_controller_sar_envtest.go
  internal/controller/flp/envtest/openshift/suite_test.go
  internal/controller/flp/envtest/vanilla/suite_test.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/monitoring/monitoring_controller.go
  internal/pkg/resources/roles.go
  internal/pkg/roles/roles.go
  internal/pkg/test/envtest.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Update internal/pkg/roles/roles.go
  internal/pkg/roles/roles.go
Due: network-observability-operator-ystream-on-push

Reserve default namespace to prevent squatting
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/constants/constants.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/lokistack/lokistack_watcher.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/manager/config.go
  internal/pkg/manager/manager.go
  internal/pkg/netpol/netpol.go
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

README: document netobserv-flowcollector-viewer-role
  README.md
Due: none

agent tuning
  AGENTS.md
  README.md
Due: none

fix test
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: network-observability-operator-ystream-on-push

fix: add resource requests to static plugin reconciler (#2892)
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/pkg/manager/config.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix: Add AdminNetworkPolicy resource mappings for test cleanup (#2911)
  integration-tests/backend/k8s_client.go
  integration-tests/backend/test_flowcollector.go
Due: none

NETOBSERV-2945: surface permission missing error and reserve namespace (#2890)
  AGENTS.md
  README.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/helper.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/constants/constants.go
  internal/controller/ebpf/internal/permissions/permissions.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/envtest/flp_controller_envtest.go
  internal/controller/flp/envtest/flp_controller_sar_envtest.go
  internal/controller/flp/envtest/openshift/suite_test.go
  internal/controller/flp/envtest/vanilla/suite_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_informer_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/lokistack/lokistack_watcher.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/manager/config.go
  internal/pkg/manager/manager.go
  internal/pkg/netpol/netpol.go
  internal/pkg/resources/roles.go
  internal/pkg/roles/roles.go
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)
