Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

doc: mention privileged field path
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2290: fix using tc hook for ocp4.14
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/pkg/helper/env.go
  internal/pkg/helper/env_test.go
Due: none

fix sast-unicode-check
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix sast-unicode-check (#1673)
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix sast-unicode-check
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2290: fix using tc hook for ocp4.14 (#1670)
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/pkg/helper/env.go
  internal/pkg/helper/env_test.go
Due: none

NETOBSERV-2290: fix using tc hook for ocp4.14 (#1670)
  controllers/ebpf/agent_controller.go
  controllers/ebpf/agent_controller_test.go
  pkg/helper/env.go
  pkg/helper/env_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2290: fix using tc hook for ocp4.14 (#1670) (#1683)
  controllers/ebpf/agent_controller.go
  controllers/ebpf/agent_controller_test.go
  pkg/helper/env.go
  pkg/helper/env_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Reinject doc feedback (#1653)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flows-format.adoc
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

chore(deps): update konflux references
  .tekton/pipeline-bundle-ref.yaml
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

chore(deps): update konflux references
  .tekton/pipeline-bundle-ref.yaml
  .tekton/pipeline-fbc-ref.yaml
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix(deps): update go modules
  go.mod
Due: network-observability-operator-on-push

align renovate.json with flp
  renovate.json
Due: none

review comment
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: none

review comment (#1695)
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: none

Fix operator crash at startup with missing apis
  internal/pkg/cluster/cluster.go
Due: none

Fix operator crash at startup with missing apis (#1699)
  internal/pkg/cluster/cluster.go
Due: none

add 1.9 konflux releases
  releases/1.8.0/netobserv-1.8.0-fbc-4-12.yaml
  releases/1.8.0/netobserv-1.8.0-fbc-4-14.yaml
  releases/1.8.0/netobserv-1.8.0-fbc-4-15.yaml
  releases/1.8.0/netobserv-1.8.0-fbc-4-16.yaml
  releases/1.8.0/netobserv-1.8.0-fbc-4-17.yaml
  releases/1.8.0/netobserv-1.8.0-fbc-4-18.yaml
  releases/1.8.0/netobserv-1.8.0.yaml
  releases/1.8.1/netobserv-1.8.1-fbc-4-12.yaml
  releases/1.8.1/netobserv-1.8.1-fbc-4-14.yaml
  releases/1.8.1/netobserv-1.8.1-fbc-4-15.yaml
  releases/1.8.1/netobserv-1.8.1-fbc-4-16.yaml
  releases/1.8.1/netobserv-1.8.1-fbc-4-17.yaml
  releases/1.8.1/netobserv-1.8.1-fbc-4-18.yaml
  releases/1.8.1/netobserv-1.8.1-fbc-4-19.yaml
  releases/1.8.1/netobserv-1.8.1.yaml
  releases/1.9.0/fbc-4-12.yaml
  releases/1.9.0/fbc-4-14.yaml
  releases/1.9.0/fbc-4-15.yaml
  releases/1.9.0/fbc-4-16.yaml
  releases/1.9.0/fbc-4-17.yaml
  releases/1.9.0/fbc-4-18.yaml
  releases/1.9.0/fbc-4-19.yaml
  releases/1.9.0/fbc-4-20.yaml
  releases/1.9.0/netobserv.yaml
Due: none

Generate chart for 1.9.0-community
  Makefile
  RELEASE.md
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hack/helm-update.sh
  helm/Chart.yaml
  helm/templates/deployment.yaml
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  helm/templates/netobserv-config-watcher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-expose-metrics_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-hostnetwork_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-loki-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-loki-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  helm/templates/netobserv-token-review_rbac.authorization.k8s.io_v1_clusterrole.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Red Hat Konflux purge network-observability-operator-fbc-zstream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-zstream-pull-request.yaml
  .tekton/network-observability-operator-fbc-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Konflux: switch back to main
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
  Dockerfile-args.downstream
  docs/Konflux.md
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Refine release process, align with flp/agent for drafting releases
  .github/workflows/release.yml
  Makefile
  RELEASE.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update helm/netobserv/templates/flows.netobserv.io_flowmetrics.yaml
  helm/netobserv/templates/flows.netobserv.io_flowmetrics.yaml
Due: none

Update helm/netobserv/templates/deployment.yaml
  helm/netobserv/templates/deployment.yaml
Due: none

Reintroduce rbac + service account
  helm/netobserv/templates/deployment.yaml
  helm/netobserv/templates/roles.yaml
Due: none

Update values.yaml with dependency enabled
  helm/values.yaml
Due: none

initial commit for the helm charts
  helm/netobserv/Chart.yaml
  helm/netobserv/templates/clusterRole.yaml
  helm/netobserv/templates/deployment.yaml
  helm/netobserv/templates/flows.netobserv.io_flowcollectors.yaml
  helm/netobserv/templates/flows.netobserv.io_flowmetrics.yaml
  helm/netobserv/templates/netobserv-manager-config_v1_configmap.yaml
  helm/netobserv/templates/netobserv-metrics-service_v1_service.yaml
  helm/netobserv/templates/netobserv-webhook-service_v1_service.yaml
  helm/netobserv/templates/role.yaml
  helm/netobserv/values.yaml
Due: none

Update helm/netobserv/templates/role.yaml
  helm/netobserv/templates/role.yaml
Due: none

added the dependencies : prometheus and loki-stack
  helm/Chart.yaml
Due: none

Partially revert last commit, add certificate
  helm/netobserv/templates/certificate.yaml
  helm/netobserv/templates/clusterRole.yaml
  helm/netobserv/templates/deployment.yaml
  helm/netobserv/templates/flows.netobserv.io_flowcollectors.yaml
  helm/netobserv/templates/flows.netobserv.io_flowmetrics.yaml
  helm/netobserv/templates/netobserv-webhook-service_v1_service.yaml
  helm/netobserv/templates/role.yaml
Due: none

Update helm/netobserv/templates/clusterRole.yaml
  helm/netobserv/templates/clusterRole.yaml
Due: none

Update helm/netobserv/Chart.yaml
  helm/netobserv/Chart.yaml
Due: none

Allow configuring a custom certificate issuer instead of self-signed
  helm/netobserv/templates/certificate.yaml
  helm/netobserv/values.yaml
Due: none

updated helm chart with dependecies, updated values.yaml and created namespace
  helm/Chart.lock
  helm/Chart.yaml
  helm/charts/loki-stack-2.10.2.tgz
  helm/charts/prometheus-27.7.1.tgz
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  helm/templates/certificate.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/deployment.yaml
  helm/templates/namespace.yaml
  helm/templates/netobserv-manager-config_v1_configmap.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  helm/templates/netobserv-webhook-service_v1_service.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: none

updated workflow to update image version in helm chart
  .github/workflows/push_image.yml
Due: none
