Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

NETOBSERV-2364: Typo in packet record map name used with bpfman (#2149)
  go.sum
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/maps/maps.go
  vendor/modules.txt
Due: network-observability-operator-on-push

import eBPF map names from ebpf-agent/pkg/maps
  internal/controller/ebpf/agent_controller.go
Due: none

Add unit test covering BPFMAN config
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
Due: none

Refresh vendors
  go.sum
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/maps/maps.go
  vendor/modules.txt
Due: network-observability-operator-on-push

fix vendors
  go.mod
  go.sum
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/config/config.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/unix/affinity_linux.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/registry/zsyscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push

[release-1.10] NETOBSERV-2364: Typo in packet record map name used with bpfman (#2158)
  go.mod
  go.sum
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/config/config.go
  vendor/github.com/netobserv/netobserv-ebpf-agent/pkg/maps/maps.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/unix/affinity_linux.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/registry/zsyscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push

NETOBSERV-2484: improve ovn subnets detection
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder_test.go
Due: none

add configurable masquerade subnet
  internal/controller/flp/flp_controller.go
Due: none

enhance network policy egress rule when using external control planes like HyperShift
  config/rbac/role.yaml
  internal/controller/networkpolicy/apiserver_endpoint.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
Due: none

fix linting issues
  internal/controller/networkpolicy/apiserver_endpoint.go
  internal/controller/networkpolicy/np_controller.go
Due: none

NETOBSERV-2418: new FlowCollectorSlice API
  Makefile
  PROJECT
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowcollectorslice/v1alpha1/doc.go
  api/flowcollectorslice/v1alpha1/flowcollectorslice_types.go
  api/flowcollectorslice/v1alpha1/groupversion_info.go
  api/flowcollectorslice/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/crd/kustomization.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/openshift/patch.yaml
  config/rbac/role.yaml
  config/samples/flows_v1alpha1_flowcollectorslice.yaml
  config/samples/kustomization.yaml
  docs/Architecture.md
  docs/FlowCollector.md
  docs/FlowCollectorSlice.md
  go.mod
  hack/asciidoc-gen-config.yaml
  hack/asciidoc-gen.sh
  hack/helm-update.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  helm/templates/clusterrole.yaml
  internal/pkg/manager/manager.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Implement FlowCollectorSlice
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/flp/metrics_api_test.go
  internal/controller/flp/slices.go
Due: none

Apply suggestion from @OlivierCazade
  internal/controller/flp/flp_controller.go
Due: none

NETOBSERV-2438: enforce validation on subnet names (#2143)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flowmetrics/cluster_external_egress_traffic.yaml
  config/samples/flowmetrics/cluster_external_ingress_traffic.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: none

NETOBSERV-2438: enforce validation on subnet names
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flowmetrics/cluster_external_egress_traffic.yaml
  config/samples/flowmetrics/cluster_external_ingress_traffic.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: none

NETOBSERV-2438: enforce validation on subnet names (#2172)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flowmetrics/cluster_external_egress_traffic.yaml
  config/samples/flowmetrics/cluster_external_ingress_traffic.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: none

Update Konflux.md
  docs/Konflux.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2494: refresh cluster info periodically
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/static/static_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/refresher.go
  internal/pkg/manager/manager.go
Due: none

update-bundle
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix grammar in flowcollector API docs
  api/flowcollector/v1beta2/flowcollector_types.go
Due: none

Fix errors at static controller startup
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/static/static_controller.go
  internal/pkg/manager/manager.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/test/envtest.go
Due: none

API Docs Grammar Fix (#2189)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Network policy fix for HyperShift
  internal/controller/networkpolicy/np_objects.go
Due: none

bundle update
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  helm/templates/clusterrole.yaml
  internal/pkg/manager/manager.go
Due: none

NETOBSERV-2418: new FlowCollectorSlice API
  Makefile
  PROJECT
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowcollectorslice/v1alpha1/doc.go
  api/flowcollectorslice/v1alpha1/flowcollectorslice_types.go
  api/flowcollectorslice/v1alpha1/groupversion_info.go
  api/flowcollectorslice/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/crd/kustomization.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/openshift/patch.yaml
  config/rbac/role.yaml
  config/samples/flows_v1alpha1_flowcollectorslice.yaml
  config/samples/kustomization.yaml
  docs/Architecture.md
  docs/FlowCollector.md
  docs/FlowCollectorSlice.md
  hack/asciidoc-gen-config.yaml
  hack/asciidoc-gen.sh
  hack/helm-update.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  helm/templates/clusterrole.yaml
  internal/pkg/manager/manager.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

API Docs Grammar Fix (#2189) (#2191)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add test, fix duplicated namespaces filters
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/slices.go
  internal/controller/flp/slices_api_test.go
Due: none

update AsciiDoc API reference
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

add DNS Name (#2114)
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

fix test
  internal/pkg/test/envtest.go
Due: none

NETOBSERV-2494: refresh cluster info periodically (#2152)
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/static/static_controller.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/refresher.go
  internal/pkg/manager/manager.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/test/envtest.go
Due: none

downstream owners for OpenShift CI
  DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS_ALIASES
Due: none

update docs (#2187)
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

addressing feedback
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  internal/controller/networkpolicy/apiserver_endpoint.go
  internal/controller/networkpolicy/np_controller.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/cluster/cluster.go
Due: none

bundle
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
Due: none

fix testing
  internal/controller/networkpolicy/apiserver_endpoint_test.go
  internal/controller/networkpolicy/np_test.go
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
