Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

NETOBSERV-2126: cleanup unused code wrt Duplicate
  apis/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  controllers/consoleplugin/config/config.go
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/ebpf/agent_controller.go
  controllers/flowcollector_controller_certificates_test.go
  docs/FlowMetric.md
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  pkg/helper/cardinality/cardinality.json
Due: network-observability-operator-on-push

NETOBSERV-2126: cleanup unused code wrt Duplicate (#1261)
  apis/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  controllers/consoleplugin/config/config.go
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/ebpf/agent_controller.go
  controllers/flowcollector_controller_certificates_test.go
  docs/FlowMetric.md
  helm/templates/flows.netobserv.io_flowmetrics.yaml
  pkg/helper/cardinality/cardinality.json
Due: network-observability-operator-on-push

manual nudging
  hack/nudging/container_digest.sh
Due: none

Push bundle to latest
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Push bundle to latest (#1375)
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-bundle-zstream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Tekton add sast checks
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Tekton add sast checks for bundle
  .tekton/pipeline-bundle-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Tekton add sast checks (#1378)
  .tekton/pipeline-bundle-ref.yaml
  .tekton/pipeline-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Use previous sast tasks
  .tekton/pipeline-bundle-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

Use tag+digest
  .tekton/pipeline-bundle-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

add console plugin to bundle
  PROJECT
  bundle.Dockerfile
  bundle.Dockerfile.downstream
  bundle/manifests/netobserv-netobserv-static-plugin_console.openshift.io_v1_consoleplugin.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  bundle/manifests/netobserv-static-console-plugin_v1_service.yaml
  bundle/metadata/annotations.yaml
  catalog/released/bundles.yaml
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/openshift-olm/default/kustomization.yaml
  config/static-console-plugin/kustomization.yaml
  config/static-console-plugin/static_console_plugin.yaml
  config/static-console-plugin/static_console_plugin_deployment.yaml
  config/static-console-plugin/static_console_plugin_service.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Update Konflux.md: y/z stream
  docs/Konflux.md
Due: network-observability-operator-on-push

Update Konflux.md - fix quay image name
  docs/Konflux.md
Due: network-observability-operator-on-push

Update Konflux doc IDMS
  docs/Konflux.md
Due: network-observability-operator-on-push

add resources recommendations to install page
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  catalog/released/bundles.yaml
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

add resources recommendations to install page (#1388)
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  catalog/released/bundles.yaml
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Update Konflux doc IDMS (#1386)
  docs/Konflux.md
Due: network-observability-operator-on-push

Renovate auto-merge
  renovate.json
Due: none

Renovate auto-merge (#1407)
  renovate.json
Due: none

Add operator to "Observability" category in OperatorHub
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  catalog/released/bundles.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Downstream release 1.8.1
  releases/netobserv-1.8.1.yaml
Due: none

Add fbc release objects 1.8.1
  releases/netobserv-1.8.1-fbc-4-12.yaml
  releases/netobserv-1.8.1-fbc-4-14.yaml
  releases/netobserv-1.8.1-fbc-4-15.yaml
  releases/netobserv-1.8.1-fbc-4-16.yaml
  releases/netobserv-1.8.1-fbc-4-17.yaml
  releases/netobserv-1.8.1-fbc-4-18.yaml
Due: none

Update values.yaml with dependency enabled
  helm/values.yaml
Due: none

added the dependencies : prometheus and loki-stack
  helm/Chart.yaml
Due: none

always create console plugin
  .mk/local.mk
  .mk/ocp.mk
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/consoleplugin/consoleplugin_objects.go
  controllers/consoleplugin/consoleplugin_reconciler.go
  controllers/consoleplugin/consoleplugin_static_reconciler.go
  controllers/consoleplugin/consoleplugin_test.go
  controllers/constants/constants.go
  controllers/controllers.go
  controllers/flowcollector_controller_console_test.go
  controllers/flp/flp_test.go
  controllers/monitoring/monitoring_controller.go
  controllers/static/static_controller.go
  helm/templates/deployment.yaml
  main.go
  pkg/helper/client_helper.go
  pkg/helper/flowcollector.go
  pkg/manager/config.go
  pkg/manager/status/status_manager.go
  pkg/manager/status/status_manager_test.go
Due: network-observability-operator-on-push

Adding version label to upstream bundle
  Makefile
  bundle.Dockerfile
Due: network-observability-operator-on-push

updated helm chart with dependecies, updated values.yaml and created namespace
  helm/Chart.lock
  helm/Chart.yaml
  helm/charts/loki-stack-2.10.2.tgz
  helm/charts/prometheus-27.7.1.tgz
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  helm/templates/certificate.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/deployment.yaml
  helm/templates/namespace.yaml
  helm/templates/netobserv-manager-config_v1_configmap.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  helm/templates/netobserv-webhook-service_v1_service.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: none

Rename "sampling rate" => "sampling ratio" (#1342)
  README.md
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/templates/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push

Add OpenShift Optional category
  catalog/unreleased/downstream-test-fbc/bundle.yaml
  hack/patch_csv.py
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push

Group renovate PRs
  renovate.json
Due: none

Doc: Freeze/unfreeze branches
  docs/Konflux.md
Due: network-observability-operator-on-push

Doc: Freeze/unfreeze branches (#1458)
  docs/Konflux.md
Due: network-observability-operator-on-push

NETOBSERV-2178: improve warning messages in agent config/validation
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: network-observability-operator-on-push

NETOBSERV-2187: Replace filter API with a query expression language
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/zz_generated.conversion.go
  apis/flowcollector/v1beta1/zz_generated.deepcopy.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  apis/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/flp/flp_pipeline_builder.go
  controllers/flp/flp_pipeline_builder_test.go
  docs/FlowCollector.md
  go.mod
  go.sum
  helm/templates/flows.netobserv.io_flowcollectors.yaml
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/eval.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/expr.y
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/expr.y.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/dsl/lexer.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/utils/filters/filters.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
