Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

vendor
  go.mod
  go.sum
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/encode_prom.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_loki.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push

expose FlowMetric help and autogenerate defaults
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/pkg/helper/otel/otel_config.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Revert "expose FlowMetric help and autogenerate defaults"
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/pkg/helper/otel/otel_config.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Revert "vendor"
  go.mod
  go.sum
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/encode_prom.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_loki.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push

NETOBSERV-2434: fix default tolerations, and a few other issues
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/comparators.go
  internal/pkg/helper/flowcollector.go
Due: none

Add validation webhook to warn about inconsistent scheduling
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: none

Adding version label to upstream bundle
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

[release-1.10] NETOBSERV-2434: fix default tolerations, and a few other issues (#2066)
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/comparators.go
  internal/pkg/helper/flowcollector.go
Due: none

pass clean build flag to bundle
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  .github/workflows/release.yml
Due: none

Update Alerts doc
  config/samples/alerts/incoming-traffic-surge.yaml
  config/samples/alerts/ingress-errors.yaml
  docs/Alerts.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Expose prometheus HELP information (#2060)
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  go.mod
  go.sum
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/pkg/helper/otel/otel_config.go
  internal/pkg/metrics/predefined_metrics.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/encode_prom.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_loki.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

grammar
  docs/Alerts.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

New "part-of" label on all pods / resources
  bundle/manifests/netobserv-manager-config_v1_configmap.yaml
  bundle/manifests/netobserv-metrics-service_v1_service.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  helm/templates/deployment.yaml
  helm/templates/netobserv-manager-config_v1_configmap.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/pkg/resources/roles.go
Due: none

Add validation hook for network policies when Loki in same namespace
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/helper/flowcollector.go
Due: none

fix lint
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: none

NETOBSERV-2439: Add validation hook for network policies when Loki in same namespace (#2079)
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/helper/flowcollector.go
Due: none

NETOBSERV-2054: Adding version label to upstream bundle (#1415)
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  .github/workflows/release.yml
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

[release-1.10] NETOBSERV-2439: Add validation hook for network policies when Loki in same namespace (#2080)
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  internal/controller/networkpolicy/np_objects.go
  internal/pkg/helper/flowcollector.go
Due: none

New "part-of" label on all pods / resources (#2078)
  bundle/manifests/netobserv-manager-config_v1_configmap.yaml
  bundle/manifests/netobserv-metrics-service_v1_service.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  helm/templates/deployment.yaml
  helm/templates/netobserv-manager-config_v1_configmap.yaml
  helm/templates/netobserv-metrics-service_v1_service.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/pkg/resources/roles.go
Due: none

NETOBSERV-2441: fix netpol for upstream deployment
  internal/controller/networkpolicy/np_objects.go
Due: none

NETOBSERV-2439: limit netpol to netobserv pods
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  internal/controller/networkpolicy/np_objects.go
Due: none

Fix issue reconciling replicas
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/reconcilers/reconcilers.go
  internal/pkg/helper/comparators.go
Due: none

fix hardcoded url
  internal/controller/ebpf/agent_controller.go
Due: none

regen bundle
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add validation error when using with conntrack
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: none

Deploy FLP as a service
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/networkpolicy/np_test.go
  internal/controller/reconcilers/reconcilers.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

bump flp depedency
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/gotrack.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/unix/affinity_linux.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/registry/zsyscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push

bump flp depedency (#2087)
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/gotrack.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/unix/affinity_linux.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/registry/zsyscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Support for configure grpc client to send logs to Loki
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  catalog/unreleased-legacy/v1.9.2-community/bundle.yaml
  catalog/unreleased-legacy/v1.9.2-community/index.yaml
  catalog/unreleased-legacy/v1.9.2-community/other.yaml
  catalog/unreleased/v1.9.2-community/bundle.yaml
  catalog/unreleased/v1.9.2-community/index.yaml
  catalog/unreleased/v1.9.2-community/other.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  go.mod
  go.sum
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/metrics_api_test.go
  internal/pkg/helper/loki_config.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/encode_prom.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_loki.go
  vendor/modules.txt
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push

fix vendors
  go.sum
  vendor/modules.txt
Due: network-observability-operator-on-push

fix flp dep
  go.mod
  go.sum
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/encode_prom.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Add part-of label to new depl/svc
  internal/controller/flp/flp_monolith_objects.go
Due: none
