Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:{{revision}}
  - name: build-args-file
    value: Dockerfile-args.downstream
  ...

Use errors.Is for deadline detection in assertWaitPollNoErr
  integration-tests/backend/util.go
Due: none

Make RBAC setup idempotent and return permanent errors early
  integration-tests/backend/flowcollector.go
Due: none

Fix gofmt: sort imports alphabetically in util.go
  integration-tests/backend/util.go
Due: none

NETOBSERV-2654 enable informers for all tests and bump e2etests go vesion (#2847)
  integration-tests/backend/.golangci.yml
  integration-tests/backend/Dockerfile
  integration-tests/backend/Makefile
  integration-tests/backend/flowcollector.go
  integration-tests/backend/go.mod
  integration-tests/backend/testdata/flowcollector_v1beta2_template.yaml
Due: none

check informers for only version >= 2.0
  integration-tests/backend/flowcollector.go
  integration-tests/backend/operator.go
Due: none

coderabbit comments
  integration-tests/backend/operator.go
Due: none

check informers for only version >= 2.0 (#2870)
  integration-tests/backend/flowcollector.go
  integration-tests/backend/operator.go
Due: none

Add unit test for removal of tolerations
  internal/controller/envtest/flowcollector_controller_console_envtest.go
Due: network-observability-operator-ystream-on-push

Fixes/skips
  integration-tests/backend/test_flowcollector.go
Due: none

change feature columns defaults for views
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-ystream-on-push

NETOBSERV-2890: reconcile ConsolePlugin upon change
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/pkg/helper/comparators.go
Due: network-observability-operator-ystream-on-push

auto update image digest in helm charts
  .github/workflows/release.yml
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

Additional unit test for removal of tolerations (#2872)
  internal/controller/envtest/flowcollector_controller_console_envtest.go
Due: network-observability-operator-ystream-on-push

Wait for privileged namespace deletion in DeleteFlowcollector
  integration-tests/backend/flowcollector.go
Due: none

CNCF code of conduct
  CODE_OF_CONDUCT.md
Due: none

Add ADOPTERS.md
  ADOPTERS.md
Due: none

Add ovn-k and sevone
  ADOPTERS.md
Due: none

CNCF code of conduct (#2877)
  CODE_OF_CONDUCT.md
Due: none

Add ADOPTERS.md (#2496)
  ADOPTERS.md
Due: none

Add Maintainers.md (required for CNCF), based on OWNERS
  MAINTAINERS.md
  OWNERS
Due: none

Fixes/skips (#2873)
  integration-tests/backend/test_flowcollector.go
Due: none

Add RBAC for flowlogs-pipeline-informers SA in integration tests
  integration-tests/backend/flowcollector.go
Due: none

NETOBSERV-2504: Add DNS name to metrics
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/csv/bases/transformed-csv.yaml
  docs/FlowCollector.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/pkg/metrics/predefined_charts.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix tests
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  internal/controller/flp/flp_pipeline_builder_test.go
Due: network-observability-operator-ystream-on-push

CRD validate duration
  api/flowcollector/v1beta2/flowcollector_types.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Change DNS metrics to count flows rather than peckets
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Make 88334 less flaky
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/util.go
Due: none

Fix secondary networks with informers
  internal/controller/flp/flp_informer_builder.go
Due: network-observability-operator-ystream-on-push

Preserve separate secondary network index sets for informers
  internal/controller/flp/flp_informer_builder.go
Due: network-observability-operator-ystream-on-push

Remove unused verifyComponentsDeleted and verifyComponentsExist
  integration-tests/backend/util.go
Due: none

Fix flaky test 74977 and fix 81410 catalogsource resource kind
  integration-tests/backend/test_exporters.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/util.go
Due: none

Remove trailing blank line to fix gofmt lint failure
  integration-tests/backend/util.go
Due: none

Re-establish narrowcache watches on API timeout
  AGENTS.md
  internal/pkg/narrowcache/client.go
  internal/pkg/narrowcache/client_test.go
  internal/pkg/narrowcache/config.go
Due: network-observability-operator-ystream-on-push

NETOBSERV-2812: Migrate integration tests from oc CLI to K8s Go API calls (#2806)
  integration-tests/backend/alerts.go
  integration-tests/backend/aws_sts.go
  integration-tests/backend/azure_utils.go
  integration-tests/backend/backend_suite_test.go
  integration-tests/backend/custom_metrics.go
  integration-tests/backend/flowcollector.go
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/flowcollectorslice.go
  integration-tests/backend/gcp_utils.go
  integration-tests/backend/go.mod
  integration-tests/backend/go.sum
  integration-tests/backend/ip_utils.go
  integration-tests/backend/k8s_client.go
  integration-tests/backend/kafka.go
  integration-tests/backend/loki.go
  integration-tests/backend/loki_client.go
  integration-tests/backend/loki_storage.go
  integration-tests/backend/metrics.go
  integration-tests/backend/multitenants.go
  integration-tests/backend/openstack_utils.go
  integration-tests/backend/operator.go
  integration-tests/backend/sctp.go
  integration-tests/backend/suite_vars.go
  integration-tests/backend/template_processor.go
  integration-tests/backend/test_exporters.go
  integration-tests/backend/test_flow_multitenancy.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/test_flowcollector_kafka.go
  integration-tests/backend/test_flowcollector_virt.go
  integration-tests/backend/test_flowcollectorslice.go
  integration-tests/backend/test_flowmetrics.go
  integration-tests/backend/test_helper.go
  integration-tests/backend/testdata/flowcollector_v1beta2_template.yaml
  integration-tests/backend/udn.go
  integration-tests/backend/util.go
  integration-tests/backend/version_checker.go
  integration-tests/backend/virtualization.go
Due: none

NETOBSERV-2671: Add DNS name to metrics (#2361)
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundles/k8s/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/k8s/manifests/netobserv-operator.clusterserviceversion.yaml
  bundles/openshift/manifests/flows.netobserv.io_flowcollectors.yaml
  bundles/openshift/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/csv/bases/transformed-csv.yaml
  docs/FlowCollector.md
  docs/Metrics.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/pkg/metrics/predefined_charts.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

feat: switch to PQC-enabled base image for post-quantum crypto support
  Dockerfile
  integration-tests/backend/Dockerfile
Due: none

fix: use multi-stage crypto-policies builder instead of pqc base image
  Dockerfile
  integration-tests/backend/Dockerfile
Due: none

fix: resolve build errors after rebase with main
  integration-tests/backend/flowcollector.go
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/util.go
Due: none

fix: check error return from applyNsResourceFromTemplateByAdmin
  integration-tests/backend/flowcollector.go
Due: none

NETOBSERV-2916: Fix secondary networks with informers (#2880)
  internal/controller/flp/flp_informer_builder.go
Due: network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)
