Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:{{revision}}
  - name: build-args-file
    value: Dockerfile-args.downstream
  ...

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: none

update PR template (#2515)
  .github/pull_request_template.md
Due: none

NOO Health: use working set memory instead of rss
  internal/pkg/dashboards/health.go
Due: network-observability-operator-ystream-on-push

addressed feedback
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
Due: network-observability-operator-ystream-on-push

Prepare 1.11.2
  Dockerfile-args.downstream
Due: none

Squashed commit of: 2620,2621,2622,2649,2683
  hack/nudging/container_digest.sh
Due: none

Remove kafka compression by default
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_pipeline_builder_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

NETOBSERV-2608: TLS metrics
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/static-frontend-config.yaml
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

refresh bundle, fix tests
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_pipeline_builder_test.go
  internal/pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

add tls metrics by default
  .mk/development.mk
  api/flowcollector/v1beta2/flowcollector_defaults.go
Due: network-observability-operator-ystream-on-push

Remove TLSTypes label from metrics, but use it as a filter instead
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-ystream-on-push

Add monitoring charts for TLS
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  internal/pkg/dashboards/dashboard_test.go
  internal/pkg/helper/otel/otel-config.json
  internal/pkg/helper/otel/otel_config_test.go
  internal/pkg/metrics/predefined_charts.go
  internal/pkg/metrics/predefined_metrics.go
  internal/pkg/test/util/utils.go
Due: network-observability-operator-ystream-on-push

Squashed commit of: 2717,2715,2714,2713,2712
  hack/nudging/container_digest.sh
Due: none

Use consistant rate interval in TLS dashboard
  internal/pkg/metrics/predefined_charts.go
Due: network-observability-operator-ystream-on-push

Remove old dead code / leftover from old API
  internal/pkg/metrics/predefined_metrics.go
  internal/pkg/metrics/predefined_metrics_test.go
Due: network-observability-operator-ystream-on-push

Squashed commit of: 2730,2729,2728,2727,2722
  hack/nudging/container_digest.sh
Due: none

init a new go module
  integration-tests/backend/go.mod
  integration-tests/backend/go.sum
Due: none

clenaup
  workitems.csv
Due: none

adjust linting to reflect new mod structure
  .golangci.yml
  Makefile
  integration-tests/backend/.golangci.yml
  integration-tests/backend/Makefile
  integration-tests/backend/util.go
  integration-tests/backend/version_checker.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix lint on backported code
  integration-tests/backend/test_exporters.go
Due: none

make update-bundle
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

rm unused loki yamls
  integration-tests/backend/testdata/loki/0-click-loki.yaml
  integration-tests/backend/testdata/loki/loki-pvc.yaml
Due: none

fix bugs discovered by coderabbit
  integration-tests/backend/testdata/DNS-pods.yaml
  integration-tests/backend/testdata/kafka/kafka-metrics-config.yaml
  integration-tests/backend/testdata/loki/lokistack-simple.yaml
  integration-tests/backend/testdata/networking/test-client-DSCP.yaml
  integration-tests/backend/testdata/networking/udn/udn_test_pod_template.yaml
  integration-tests/backend/testdata/subscription/allnamespace-og.yaml
  integration-tests/backend/testdata/testuser-client-server_template.yaml
Due: none

Prepare 1.11.3
  Dockerfile-args.downstream
Due: none

Squashed commit of: 2747,2746,2745,2744,2748
  hack/nudging/container_digest.sh
Due: none

fix struct<> query mapping
  integration-tests/backend/flowcollector.go
  integration-tests/backend/flowcollector_utils.go
  integration-tests/backend/test_flowcollector.go
Due: none

Squashed commit of: 2749,2750,2751,2753,2757
  hack/nudging/container_digest.sh
Due: none

Red Hat Konflux purge network-observability-operator-ystream
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Red Hat Konflux purge network-observability-operator-bundle-ystream
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Fix setup-envtest
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

exclude integration-tests directory from a couple of make targets
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

fix timeout issue
  integration-tests/backend/flowcollector_utils.go
Due: none

bump docker/login-action, (up|down)load-artifact
  .github/workflows/build_image_pr.yml
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  .github/workflows/release.yml
Due: none

coderabbit review comment
  integration-tests/backend/test_flowcollector.go
  integration-tests/backend/test_flowcollectorslice.go
Due: none

add the testcase
  integration-tests/backend/metrics.go
  integration-tests/backend/test_flowcollector.go
Due: none

Regenerate asciidoc
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flows-format.adoc
  internal/pkg/helper/cardinality/cardinality.json
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request, network-observability-operator-ystream-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
  network-observability-operator-ystream-on-push: (((((((((((((any of: .tekton/***) or (any of: .dockerignore)) or (any of: api/***)) or (any of: internal/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: vendor/***)
