Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

Add additional flow metrics map
  controllers/ebpf/agent_controller.go
Due: none

Add muli ebpf flow filtering rules support
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/zz_generated.conversion.go
  apis/flowcollector/v1beta1/zz_generated.deepcopy.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  apis/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/ebpf/agent_controller.go
  docs/FlowCollector.md
Due: none

Add sample actions
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta1/zz_generated.conversion.go
  apis/flowcollector/v1beta1/zz_generated.deepcopy.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/ebpf/agent_controller.go
  docs/FlowCollector.md
Due: none

Adding version label in downstream build
  Dockerfile.downstream
  bundle.Dockerfile.downstream
  catalog.Dockerfile.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push

Add webhook check to prevent CIDR duplication when configure multi rules filtering
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: none

Updating konflux task due to breaking change and deprecated tasks
  .tekton/pipeline-fbc-ref.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request

WIP: UDN mappnig PoC
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/ebpf/agent_controller.go
  docs/FlowCollector.md
  pkg/helper/flowcollector.go
Due: none

Use go 1.23
  .github/workflows/pull_request.yml
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

go1.23 in downstream dockerfile
  Dockerfile.downstream
Due: none

Creating konflux documentation
  docs/Konflux.md
Due: none

WIP: UDN mappnig PoC
  apis/flowcollector/v1beta1/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_types.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  controllers/consoleplugin/config/static-frontend-config.yaml
  controllers/ebpf/agent_controller.go
  docs/FlowCollector.md
  pkg/helper/flowcollector.go
Due: none

Pkt translation envvar not been set correctly
  controllers/ebpf/agent_controller.go
Due: none

Readme: Warn infobox about community releases
  README.md
Due: none

Reducing Konflux trigger and bumping catalog RC
  .tekton/fbc-v-4-12-pull-request.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/network-observability-operator-bundle-pull-request.yaml
  .tekton/network-observability-operator-fbc-pull-request.yaml
  .tekton/network-observability-operator-pull-request.yaml
  catalog/index.yaml
  catalog/rc.yaml
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request

Update docs/Konflux.md
  docs/Konflux.md
Due: none

make sure zone_id is visible when pkt xlation feature is enabled
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: none

make sure zone_id is visible when pkt xlation feature is enabled (#998)
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: none

Health: show metrics cardinality
  pkg/dashboards/health.go
Due: none

Reducing Konflux trigger and bumping catalog RC (#997)
  .tekton/fbc-v-4-12-pull-request.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/network-observability-operator-bundle-pull-request.yaml
  .tekton/network-observability-operator-fbc-pull-request.yaml
  .tekton/network-observability-operator-pull-request.yaml
  catalog/index.yaml
  catalog/rc.yaml
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request

Health: show metrics cardinality (#1010)
  pkg/dashboards/health.go
Due: none

Readme: Warn infobox about community releases (#995)
  README.md
Due: none

Adding lines in digest file to reduce conflicts
  hack/container_digest.sh
Due: none

Fixing image url to use main branch
  docs/Konflux.md
Due: none

Adding lines in digest file to reduce conflicts (#1014)
  hack/container_digest.sh
Due: none

NETOBSERV-2055: remove xlatIcmp field as its redundant
  controllers/consoleplugin/config/static-frontend-config.yaml
Due: none

Red Hat Konflux purge network-observability-operator-bundle-1-7 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-bundle-1-7-pull-request.yaml
  .tekton/network-observability-operator-bundle-1-7-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request

Red Hat Konflux purge network-observability-operator-1-7 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-1-7-pull-request.yaml
  .tekton/network-observability-operator-1-7-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request

Red Hat Konflux purge network-observability-operator-fbc-1-7-417 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/network-observability-operator-fbc-1-7-417-pull-request.yaml
  .tekton/network-observability-operator-fbc-1-7-417-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request

Refresh archicture doc
  docs/Architecture.md
  docs/assets/architecture-direct.png
  docs/assets/architecture-kafka.png
  docs/assets/frontend.png
Due: none

Add CONTRIBUTING
  CONTRIBUTING.md
  docs/Architecture.md
Due: none

Update docs/Architecture.md
  docs/Architecture.md
Due: none

More details on CLI mdoes
  docs/Architecture.md
Due: none

Refresh archicture doc (#1022)
  CONTRIBUTING.md
  docs/Architecture.md
  docs/assets/architecture-direct.png
  docs/assets/architecture-kafka.png
  docs/assets/frontend.png
Due: none

architecture link
  README.md
Due: none

NETOBSERV-2010: manage cardinality for netevents nested labels
  pkg/helper/cardinality/cardinality.json
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
