Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)

optimize for token usage
  AGENTS.md
Due: none

Back to a single Service mode
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_controller_test.go
  internal/controller/flowcollector_controller_minimal_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/networkpolicy/np_objects.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

bump FLP
  go.mod
  go.sum
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_network.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Update default mode in alm example
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
Due: none

rename to endpoint
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

NETOBSERV-2446: service monitors use EndpointSlice when available
  bundle/manifests/netobserv-expose-metrics_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/kind/deployment-prometheus.yaml
  config/rbac/component_roles.yaml
  helm/templates/netobserv-expose-metrics_rbac.authorization.k8s.io_v1_clusterrole.yaml
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_transfo_objects.go
  internal/pkg/cluster/cluster.go
  internal/pkg/cluster/cluster_test.go
Due: none

add console static config
  AGENTS.md
Due: none

added tracked kinds to flp
  bundle/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/component_roles.yaml
  go.mod
  go.sum
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  internal/controller/flp/flp_pipeline_builder.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_network.go
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/modules.txt
Due: network-observability-operator-on-push

NETOBSERV-2182 & NETOBSERV-2183 PoC : Filters refactoring (#1632)
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

added tracked kinds to flp (#2153)
  bundle/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/rbac/component_roles.yaml
  go.mod
  go.sum
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  internal/controller/flp/flp_pipeline_builder.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_network.go
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/modules.txt
Due: network-observability-operator-on-push

NETOBSERV-2412: define missing alerts on external traffic
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Alert baseline trends: use longer-term default
  api/flowcollector/v1beta2/flowcollector_defaults.go
Due: none

NETOBSERV-2489: configure agent reconnect timer
  internal/controller/ebpf/agent_controller.go
Due: none

NETOBSERV-2412: define missing alerts on external traffic (#2270)
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2489: configure agent reconnect timer (#2257)
  internal/controller/ebpf/agent_controller.go
Due: none

[upstream] helm chart improvements, configure alertmanager url
  README.md
  RELEASE.md
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/Chart.lock
  helm/Chart.yaml
  helm/README.md
  helm/charts/kube-prometheus-stack-80.4.1.tgz
  helm/charts/loki-stack-2.10.2.tgz
  helm/charts/loki-stack-2.10.3.tgz
  helm/charts/prometheus-27.23.0.tgz
  helm/charts/prometheus-27.7.1.tgz
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/values.yaml
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Replace TEST_CONSOLE env with a "standalone" flag in CRD
  .mk/development.mk
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/constants/constants.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Do not change CSV date outside of releases
  .github/workflows/push_image.yml
  .github/workflows/push_image_pr.yml
  Makefile
  RELEASE.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

refactor
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_test.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/builder.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/promql.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

improvements
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/promql.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Regenerate files
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_test.go
  internal/controller/monitoring/monitoring_controller_test.go
Due: none

fix cr
  config/manager/kustomization.yaml
  config/manager/manager.yaml
Due: none

include template name in recording rule as a label
  internal/pkg/metrics/alerts/builder_test.go
Due: none

more testing, some fixes
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  internal/pkg/metrics/alerts/builder_test.go
  internal/pkg/metrics/alerts/promql_test.go
Due: none

bundle & tests
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: none

improvements
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

update bundle
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: none

fix
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/builder.go
Due: none

fix test
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: none

fixes
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: none

clean cross az
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/builder_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fixes
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  internal/pkg/metrics/alerts/alerts.go
Due: none

bundle
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: none

feedback
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_test.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: none

bundle
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
Due: none

Adding lokistack status to console configmap
  internal/controller/consoleplugin/config/config.go
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/pkg/cluster/cluster.go
Due: none

dockerignore (#2197)
  .dockerignore
Due: none

fix multi tenancy issues
  bundle/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/component_roles.yaml
  helm/templates/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  internal/controller/consoleplugin/consoleplugin_reconciler.go
Due: none
