Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

deploy csv from makefile
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

deploy csv from makefile (#1987)
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2405: fix missing subnet labels from otel
  internal/pkg/helper/otel/otel-config.json
  internal/pkg/helper/otel/otel_config_test.go
Due: none

Add test to prevent this occuring again
  internal/pkg/helper/otel/otel-config.json
  internal/pkg/helper/otel/otel_config_test.go
Due: none

Adding 1.9.3 release files
  releases/1.9.3/fbc-4-12.yaml
  releases/1.9.3/fbc-4-14.yaml
  releases/1.9.3/fbc-4-15.yaml
  releases/1.9.3/fbc-4-16.yaml
  releases/1.9.3/fbc-4-17.yaml
  releases/1.9.3/fbc-4-18.yaml
  releases/1.9.3/fbc-4-19.yaml
  releases/1.9.3/fbc-4-20.yaml
  releases/1.9.3/netobserv.yaml
Due: none

Adding 1.9.3 release files (#1989)
  releases/1.9.3/fbc-4-12.yaml
  releases/1.9.3/fbc-4-14.yaml
  releases/1.9.3/fbc-4-15.yaml
  releases/1.9.3/fbc-4-16.yaml
  releases/1.9.3/fbc-4-17.yaml
  releases/1.9.3/fbc-4-18.yaml
  releases/1.9.3/fbc-4-19.yaml
  releases/1.9.3/fbc-4-20.yaml
  releases/1.9.3/netobserv.yaml
Due: none

revert temporary changes
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/pkg/test/envtest.go
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for network-observability-operator-bundle-zstream
  bundle.Dockerfile.downstream
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for network-observability-operator-zstream
  Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Set default value for network policy to true
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix envtest
  internal/controller/flp/suite_test.go
  internal/controller/monitoring/suite_test.go
  internal/controller/networkpolicy/suite_test.go
  internal/controller/suite_test.go
  internal/pkg/test/envtest.go
Due: none

NETOBSERV-2355: Rename sampling ratio/rate -> interval
  FAQ.md
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Adding version label to upstream bundle
  Makefile
  bundle.Dockerfile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for network-observability-operator-bundle-zstream
  Dockerfile-args.downstream
  Dockerfile.downstream
  bundle.Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for network-observability-operator-bundle-zstream (#2001)
  Dockerfile-args.downstream
  Dockerfile.downstream
  bundle.Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Use parameterized args for CPE
  Dockerfile-args.downstream
  Dockerfile.downstream
  bundle.Dockerfile
  bundle.Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for network-observability-operator-bundle-zstream (#1990)
  Dockerfile-args.downstream
  Dockerfile.downstream
  bundle.Dockerfile
  bundle.Dockerfile.downstream
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2400: Implement alerts feature gate
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix tests
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts_test.go
Due: none

NETOBSERV-2355: Rename sampling ratio/rate -> interval (#1996)
  FAQ.md
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Set default value for network policy to true (#1846)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
  internal/pkg/helper/flowcollector.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update all links to downstream doc (redhat.com)
  FAQ.md
  README.md
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  config/descriptions/upstream.md
  docs/Architecture.md
  docs/FlowMetric.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Fixing bundle.Dockerfile overwrite
  Makefile
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update all links to downstream doc (redhat.com) (#2016)
  FAQ.md
  README.md
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  config/descriptions/upstream.md
  docs/Architecture.md
  docs/FlowMetric.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Regenerate docs
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  docs/flowcollector-flows-netobserv-io-v1beta2.adoc
  docs/flowmetric-flows-netobserv-io-v1alpha1.adoc
  docs/flows-format.adoc
  hack/asciidoc-flows-gen.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2400: Implement alerts feature gate (#2011)
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Freeze tekton push on ystream
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update tekton for release-1.10
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update Konflux.md
  docs/Konflux.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Doc: mark excludeLabels as unsupported
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Minor changes on FlowMetrics doc
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Minor changes on FlowMetrics doc (#2025)
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Minor changes on FlowMetrics doc (#2026)
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  docs/FlowMetric.md
  helm/crds/flows.netobserv.io_flowmetrics.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Support for configure grpc client to send logs to Loki
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  go.mod
  go.sum
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/flowcollector_controller.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/metrics_api_test.go
  internal/pkg/helper/loki_config.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_filter.go
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/write_loki.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/modules.txt
Due: network-observability-operator-on-push

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
