Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

NETOBSERV-2485: DNS optimization, avoid searching for various suffixes
  README.md
  RELEASE.md
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  helm/README.md
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/loki_config.go
Due: none

Use Health/Alerts to help detect DNS optimizations
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix test
  internal/pkg/metrics/alerts/alerts_test.go
Due: none

Release 1.10.1 (#2234)
  releases/1.10.1/fbc.yaml
  releases/1.10.1/netobserv.yaml
Due: none

fix prom api breaking changes
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/monitoring.go
Due: none

Add code comments on dns optimization
  config/samples/flows_v1beta2_flowcollector.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/ebpf/agent_controller.go
  internal/pkg/helper/loki_config.go
Due: none

NETOBSERV-2489: configure agent reconnect timer
  internal/controller/ebpf/agent_controller.go
Due: none

PR feedback: introduce FlowCollectorSlice status
  api/flowcollectorslice/v1alpha1/flowcollectorslice_types.go
  api/flowcollectorslice/v1alpha1/groupversion_info.go
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/samples/flows_v1alpha1_flowcollectorslice.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollectorSlice.md
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/slices.go
  internal/controller/flp/slices_api_test.go
  internal/controller/flp/slicesstatus/flowcollectorslices_status.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix test
  internal/pkg/test/envtest.go
Due: none

Add test, fix duplicated namespaces filters
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/slices.go
  internal/controller/flp/slices_api_test.go
Due: none

Implement FlowCollectorSlice
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/flp/metrics_api_test.go
  internal/controller/flp/slices.go
Due: none

NETOBSERV-2418: new FlowCollectorSlice API
  Makefile
  PROJECT
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowcollectorslice/v1alpha1/doc.go
  api/flowcollectorslice/v1alpha1/flowcollectorslice_types.go
  api/flowcollectorslice/v1alpha1/groupversion_info.go
  api/flowcollectorslice/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowcollectorslices.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectorslices.yaml
  config/crd/kustomization.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/openshift/patch.yaml
  config/rbac/role.yaml
  config/samples/flows_v1alpha1_flowcollectorslice.yaml
  config/samples/kustomization.yaml
  docs/Architecture.md
  docs/FlowCollector.md
  docs/FlowCollectorSlice.md
  hack/asciidoc-gen-config.yaml
  hack/asciidoc-gen.sh
  hack/helm-update.sh
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectorslices.yaml
  helm/templates/clusterrole.yaml
  internal/pkg/manager/manager.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Include higher priority slices in overlap warning reports
  internal/controller/flp/slices.go
  internal/controller/flp/slices_api_test.go
  internal/controller/flp/slicesstatus/flowcollectorslices_status.go
Due: none

add targeteable filters
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

improve filters display
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

set config path in args to support logging image
  internal/controller/loki/loki_objects.go
Due: none

loki dev mode
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/clusterrole.yaml
  helm/templates/deployment.yaml
  internal/controller/constants/constants.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_console_test.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/loki/config/config.go
  internal/controller/loki/config/local-config.yaml
  internal/controller/loki/loki_objects.go
  internal/controller/loki/loki_reconciler.go
  internal/controller/reconcilers/namespaced_objects_manager.go
  internal/pkg/helper/loki_config.go
  internal/pkg/manager/config.go
  internal/pkg/manager/manager.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Modify the alm-examples to make them more relevant in console forms
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/samples/flows_v1alpha1_flowcollectorslice.yaml
  config/samples/flows_v1alpha1_flowmetric.yaml
Due: none

Remove third party link (will be replaced with runbooks)
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
Due: none

fix conflict
  internal/controller/loki/loki_reconciler.go
Due: none

NETOBSERV-2485: DNS optimization, avoid searching for various suffixes (#2227)
  README.md
  RELEASE.md
  api/flowcollector/v1beta2/flowcollector_alert_types.go
  api/flowcollector/v1beta2/flowcollector_defaults.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/README.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/loki_config.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_types.go
Due: none

fix deps
  go.mod
  go.sum
  vendor/modules.txt
Due: network-observability-operator-on-push

fix deps
  vendor/github.com/netobserv/flowlogs-pipeline/pkg/api/transform_network.go
Due: network-observability-operator-on-push

fix vendoring
  vendor/modules.txt
Due: network-observability-operator-on-push

fix permissions
  bundle/manifests/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/component_roles.yaml
  helm/templates/netobserv-informers_rbac.authorization.k8s.io_v1_clusterrole.yaml
Due: none

fix flp dep
  go.mod
Due: network-observability-operator-on-push

added tracked kinds to flp
  go.mod
  go.sum
  internal/controller/flp/flp_pipeline_builder.go
  vendor/modules.txt
Due: network-observability-operator-on-push

fix flp version
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/go.opentelemetry.io/otel/SECURITY-INSIGHTS.yml
  vendor/go.opentelemetry.io/otel/sdk/trace/internal/x/README.md
  vendor/go.opentelemetry.io/otel/sdk/trace/internal/x/x.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/error_type.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/MIGRATION.md
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/error_type.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/otelconv/metric.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/schema.go
  vendor/go.opentelemetry.io/otel/trace/hex.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/tools/internal/typesinternal/fx.go
  vendor/golang.org/x/tools/internal/typesinternal/isnamed.go
  vendor/google.golang.org/grpc/encoding/internal/internal.go
  vendor/google.golang.org/grpc/internal/stats/stats.go
Due: network-observability-operator-on-push

validation webhook
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: none

move loki image to netobserv quay
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  helm/templates/deployment.yaml
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Remove health feature gate
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix tests
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
Due: none

Remove health feature gate (#2267)
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/helper.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/Alerts.md
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_controller_test.go
  internal/pkg/metrics/alerts/alerts.go
  internal/pkg/metrics/alerts/alerts_test.go
  internal/pkg/metrics/alerts/builder.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Add quick filters for external traffic
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

AGENTS.md for AI agents
  AGENTS.md
  CLAUDE.md
Due: none

update file location
  AGENTS.md
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
