Repository netobserv/network-observability-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fbc-v-4-12-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v-4-12:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/fbc-v4-17:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

network-observability-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

network-observability-operator-fbc-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator-fbc:{{revision}}
  - name: dockerfile
  ...

network-observability-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/netobserv-operator/network-observability-operator:{{revision}}
  - name: image-expires-after
    value: 14d
  ...

network-observability-operator-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/network-observability-operator-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

NETOBSERV-2333: switch to tc hook on ocp4.15 (#1744)
  internal/controller/ebpf/agent_controller.go
Due: none

NETOBSERV-2333: switch to tc hook on ocp4.15
  controllers/ebpf/agent_controller.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2333: switch to tc hook on ocp4.15 (#1752)
  controllers/ebpf/agent_controller.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

review comment
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

review comment (#1753)
  apis/flowcollector/v1beta2/flowcollector_validation_webhook.go
  apis/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

namespace env at the end of the list for CI
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  helm/templates/deployment.yaml
Due: none

NETOBSERV-2268: Add a WARNINGS column in 'oc get flowcollectors' (#1738)
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/metrics/predefined_charts.go
Due: none

dependabot: group k8s prs
  .github/dependabot.yml
Due: none

update bundle digests
  hack/nudging/container_digest.sh
Due: none

NETOBSERV-2345: remove deprecated FlowCollector v1beta1
  Makefile
  PROJECT
  api/flowcollector/v1beta1/doc.go
  api/flowcollector/v1beta1/flowcollector_types.go
  api/flowcollector/v1beta1/flowcollector_webhook.go
  api/flowcollector/v1beta1/flowcollector_webhook_test.go
  api/flowcollector/v1beta1/groupversion_info.go
  api/flowcollector/v1beta1/zz_generated.conversion.go
  api/flowcollector/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/kustomization.yaml
  config/crd/patches/webhook_in_flowcollectors.yaml
  config/crd/patches/webhook_in_flowmetrics.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/k8s-olm/default/kustomization.yaml
  config/samples/flows_v1beta1_flowcollector.yaml
  config/samples/kustomization.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Rename IPSec -> IPsec in visible text
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

dependabot: group k8s prs (#1770)
  .github/dependabot.yml
Due: none

NETOBSERV-2348: validate prometheus names
  api/flowmetrics/v1alpha1/flowmetric_types.go
  api/flowmetrics/v1alpha1/flowmetric_webhook.go
  api/flowmetrics/v1alpha1/flowmetric_webhook_test.go
  api/flowmetrics/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/pkg/metrics/predefined_metrics.go
Due: none

fix tests
  api/flowmetrics/v1alpha1/flowmetric_types.go
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  config/crd/bases/flows.netobserv.io_flowmetrics.yaml
  helm/crds/flows.netobserv.io_flowmetrics.yaml
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/monitoring/monitoring_controller_test.go
Due: none

NETOBSERV-1742: use same metrics set with and without loki
  internal/pkg/metrics/predefined_metrics.go
Due: none

NETOBSERV-2225 - Deploy static plugin at operator startup (#1345)
  .mk/local.mk
  .mk/ocp.mk
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  helm/templates/deployment.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/consoleplugin/consoleplugin_static_reconciler.go
  internal/controller/consoleplugin/consoleplugin_test.go
  internal/controller/constants/constants.go
  internal/controller/controllers.go
  internal/controller/flowcollector_controller_certificates_test.go
  internal/controller/flowcollector_controller_console_test.go
  internal/controller/flowcollector_controller_test.go
  internal/controller/flp/flp_test.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/static/static_controller.go
  internal/pkg/helper/client_helper.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/manager/config.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/manager/status/status_manager_test.go
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2345: remove deprecated FlowCollector v1beta1 (#1777)
  Makefile
  PROJECT
  api/flowcollector/v1beta1/doc.go
  api/flowcollector/v1beta1/flowcollector_types.go
  api/flowcollector/v1beta1/flowcollector_webhook.go
  api/flowcollector/v1beta1/flowcollector_webhook_test.go
  api/flowcollector/v1beta1/groupversion_info.go
  api/flowcollector/v1beta1/zz_generated.conversion.go
  api/flowcollector/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/flows.netobserv.io_flowmetrics.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/crd/kustomization.yaml
  config/crd/patches/webhook_in_flowcollectors.yaml
  config/crd/patches/webhook_in_flowmetrics.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/k8s-olm/default/kustomization.yaml
  config/samples/flows_v1beta1_flowcollector.yaml
  config/samples/kustomization.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/pkg/test/envtest.go
  main.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Allow removing loki labels via advanced config
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/loki/labels.go
  internal/pkg/helper/loki/labels_test.go
  internal/pkg/helper/loki/loki-labels.json
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

NETOBSERV-2326: new alerting API in FlowCollector
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  api/flowcollector/v1beta2/helper.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  api/flowmetrics/v1alpha1/flowmetric_webhook.go
  api/flowmetrics/v1alpha1/flowmetric_webhook_test.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/consoleplugin/consoleplugin_reconciler.go
  internal/controller/ebpf/agent_controller.go
  internal/controller/ebpf/agent_metrics.go
  internal/controller/ebpf/bpfmanager-controller.go
  internal/controller/ebpf/internal/permissions/permissions.go
  internal/controller/flowcollector_controller.go
  internal/controller/flowcollector_controller_iso_test.go
  internal/controller/flp/flp_common_objects.go
  internal/controller/flp/flp_controller.go
  internal/controller/flp/flp_controller_test.go
  internal/controller/flp/flp_monolith_objects.go
  internal/controller/flp/flp_monolith_reconciler.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/controller/flp/flp_transfo_objects.go
  internal/controller/flp/flp_transfo_reconciler.go
  internal/controller/monitoring/monitoring_controller.go
  internal/controller/monitoring/monitoring_controller_test.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/reconcilers/reconcilers.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/helper/loki/labels.go
  internal/pkg/manager/status/status_manager.go
  internal/pkg/metrics/predefined_alerts.go
  internal/pkg/metrics/predefined_alerts_test.go
  internal/pkg/metrics/predefined_metrics.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix ns monitoring
  internal/controller/monitoring/monitoring_controller.go
  internal/pkg/helper/flowcollector.go
Due: none

Alerts documentation
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook_test.go
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/Alerts.md
  docs/Metrics.md
  internal/pkg/metrics/predefined_alerts_test.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

doc cleaning
  docs/Alerts.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix lint
  api/flowcollector/v1beta2/flowcollector_metrics_types.go
  api/flowcollector/v1beta2/flowcollector_validation_webhook.go
Due: none

Squashed commit of: 1795,1796,1797,1798,1799
  hack/nudging/container_digest.sh
Due: none

Squashed commit of: 1793,1794
  hack/nudging/container_digest.sh
Due: none

Remove now unused 'replaces' csv field, and re-use BUILDVERSION when building downstream bundle (#1746)
  Makefile
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  hack/patch_csv.py
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Remove now unused 'replaces' csv field, and re-use BUILDVERSION when building downstream bundle (#1746)
  Makefile
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/csv/bases/netobserv-operator.clusterserviceversion.yaml
  config/descriptions/ocp.md
  config/descriptions/upstream.md
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hack/patch_csv.py
  hack/update-build.sh
  helm/Chart.yaml
  helm/templates/deployment.yaml
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Prepare 1.9.2
  .tekton/network-observability-operator-bundle-ystream-pull-request.yaml
  .tekton/network-observability-operator-bundle-ystream-push.yaml
  .tekton/network-observability-operator-ystream-pull-request.yaml
  .tekton/network-observability-operator-ystream-push.yaml
  Dockerfile-args.downstream
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Squashed commit of: 1805,1806,1807,1808
  hack/nudging/container_digest.sh
Due: none

Add 1.9.1 release objects
  releases/1.9.1/fbc-4-12.yaml
  releases/1.9.1/fbc-4-14.yaml
  releases/1.9.1/fbc-4-15.yaml
  releases/1.9.1/fbc-4-16.yaml
  releases/1.9.1/fbc-4-17.yaml
  releases/1.9.1/fbc-4-18.yaml
  releases/1.9.1/fbc-4-19.yaml
  releases/1.9.1/fbc-4-20.yaml
  releases/1.9.1/netobserv.yaml
Due: none

Fix downstream bundle build
  bundle.Dockerfile.downstream
  hack/update-build.sh
Due: fbc-v-4-12-on-pull-request, fbc-v4-17-on-push, network-observability-operator-fbc-on-pull-request, network-observability-operator-fbc-on-push, network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Update konflux doc
  docs/Konflux.md
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

fix ns monitoring (#1789)
  internal/controller/monitoring/monitoring_controller.go
  internal/pkg/helper/flowcollector.go
Due: none

loki dev mode
  api/flowcollector/v1beta2/flowcollector_types.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  bundle/manifests/netobserv-operator.clusterserviceversion.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  config/rbac/role.yaml
  config/samples/flows_v1beta2_flowcollector.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  helm/templates/clusterrole.yaml
  internal/controller/constants/constants.go
  internal/controller/flowcollector_controller.go
  internal/controller/loki/config/config.go
  internal/controller/loki/config/local-config.yaml
  internal/controller/loki/loki_objects.go
  internal/controller/loki/loki_reconciler.go
  internal/controller/reconcilers/namespaced_objects_manager.go
  internal/pkg/helper/flowcollector.go
  internal/pkg/helper/loki_config.go
  internal/pkg/manager/manager.go
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Squashed commit of: 1825,1823,1821,1820
  hack/nudging/container_digest.sh
Due: none

Squashed commit of: 1817,1818,1819,1822,1824
  hack/nudging/container_digest.sh
Due: none

Adding egress support to network policy
  internal/controller/constants/constants.go
  internal/controller/networkpolicy/np_objects.go
  internal/controller/networkpolicy/np_test.go
Due: none

Allow removing loki labels via advanced config (#1788)
  api/flowcollector/v1beta2/flowcollector_types.go
  api/flowcollector/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/flows.netobserv.io_flowcollectors.yaml
  config/crd/bases/flows.netobserv.io_flowcollectors.yaml
  docs/FlowCollector.md
  helm/crds/flows.netobserv.io_flowcollectors.yaml
  internal/controller/consoleplugin/consoleplugin_objects.go
  internal/controller/flp/flp_pipeline_builder.go
  internal/controller/flp/flp_test.go
  internal/pkg/helper/loki/labels.go
  internal/pkg/helper/loki/labels_test.go
  internal/pkg/helper/loki/loki-labels.json
Due: network-observability-operator-on-push, network-observability-operator-ystream-on-pull-request

Rename IPSec -> IPsec in visible text (#1778)
  internal/controller/consoleplugin/config/static-frontend-config.yaml
Due: none

Path conditions:
  fbc-v-4-12-on-pull-request: (((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: ./requirements.txt)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  fbc-v4-17-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-pull-request: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-fbc-on-push: ((((((any of: .tekton/***) or (any of: catalog.Dockerfile.downstream)) or (any of: catalog/***)) or (any of: hack/update-build.sh)) or (any of: hack/bundle_digest.sh)) or (any of: hack/patch_catalog.py)) or (any of: hack/patch_csv.py)
  network-observability-operator-on-push: (((((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)) or (any of: vendor/***)
  network-observability-operator-ystream-on-pull-request: ((((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: Dockerfile.downstream)) or (any of: docs/***)) or (any of: hack/update-build.sh)) or (any of: LICENSE)) or (any of: main.go)) or (any of: Makefile)) or (any of: manifests/***)) or (any of: pkg/***)
